doctype html
html(lang='ru-RU')
    head
        | {% include head.html %}
    body
        .page_wrap
            | {% include header.html %}
            | {{ content }}
            | {% include footer.html %}
        script(src='/js/jquery-3.1.0.slim.min.js')
        script(src='/js/site.js')
        {% include google_analytics.html %}
