doctype html
//-- html(lang='ru-RU', manifest='/turoboz.appcache')
html(lang='ru-RU')
    head
        | {% include head.html %}
    body
        #page_wrap.page_wrap
            | {% include header.html %}

            #page_content_wrap.page_content_wrap(class="page_content_wrap--{% if page.url contains '/tours/1' %}tour{% elsif page.url contains '/tours/' %}tours{% elsif page.url contains '/news/' %}post{% elsif page.url == '/' %}main{% else %}page{% endif %}")
                | {{ content }}

            | {% include footer.html %}
        script(src='/js/site.js')
        | {% include google_analytics.html %}
