| ---
| layout: default
| ---
| <div class='first_glance'>
|     {% include main_page_heading.html %}
|     {% include news.html %}
| </div> 
| {% include comming_soon.html %}
| {% include posts.html %}
