mixin LiquidRussianDate(dateVariable)
    | {% if #{dateVariable} == '00.00.0000' %}
    | по заказу
    | {% else %}
    | {% assign unixdate = #{dateVariable} %}
    | {% assign m = unixdate | date: "%-m" %}
    | {{ unixdate | date: "%-d" }}
    | {% case m %}
    | {% when '1' %}января
    | {% when '2' %}февраля
    | {% when '3' %}марта
    | {% when '4' %}апреля
    | {% when '5' %}мая
    | {% when '6' %}июня
    | {% when '7' %}июля
    | {% when '8' %}августа
    | {% when '9' %}сентября
    | {% when '10' %}октября
    | {% when '11' %}ноября
    | {% when '12' %}декабря
    | {% endcase %}
    | {{ unixdate | date: "%Y" }}
    | {% endif %}

mixin LiquidRussianDateLite(dateVariable)
    | {% assign unixdate = #{dateVariable} %}
    | {% assign m = unixdate | date: "%-m" %}
    | {{ unixdate | date: "%-d" }}
    | {% case m %}
    | {% when '1' %}января
    | {% when '2' %}февраля
    | {% when '3' %}марта
    | {% when '4' %}апреля
    | {% when '5' %}мая
    | {% when '6' %}июня
    | {% when '7' %}июля
    | {% when '8' %}августа
    | {% when '9' %}сентября
    | {% when '10' %}октября
    | {% when '11' %}ноября
    | {% when '12' %}декабя
    | {% endcase %}
    | {{ unixdate | date: "%Y" }}

