### Node ###
# Logs
logs
*.log
npm-debug.log*
node_modules

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm
.nvmrc

# Optional REPL history
.node_repl_history

### Jekyll ###
_site/*
.jekyll-metadata

### GitHubPages ###
.gh-pages/
.gh-pages/*

### Python ###
__pycache__/

_importdata.py

# Old site
.old-site/
.old_site
_contentful_accessToken
_contentful_accessToken.json
.users.yml
