### Node ###
# Logs
logs
*.log
npm-debug.log*
node_modules

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm
.nvmrc

# Optional REPL history
.node_repl_history

### Jekyll ###
_site
_site/*
.jekyll-metadata

### GitHubPages ###
.gh-pages
.gh-pages/
.gh-pages/*

# Utility Branches 
.old_site
.old-site/
.old-site/*
.update-page
.update-page/
.update-page/*

# Content Management
.contentful-accessToken-management.json
.users.yml
_validation_report
