<div class="blogpost__heading"><div class="block--breadcrumbs"><a href="/" class="breadcrumb--icon breadcrumb"><div class="breadcrumb__icon"><svg viewbox="0 0 20 20"><title>назад</title><path d="M2.5,10L9,3.5V7h8v6H9v3.5L2.5,10z" class="breadcrumb__icon__svg"></path></svg></div><div class="breadcrumb__icon-label breadcrumb__label">Вернуться на главную</div></a></div><div class="full_post__heading__left"><div class="full_post__date">{% assign unixdate = {{ page.dateposted }} %}
{% assign m = unixdate | date: "%-m" %}
{{ unixdate | date: "%-d" }}
{% case m %}
{% when '1' %}января
{% when '2' %}февраля
{% when '3' %}марта
{% when '4' %}апреля
{% when '5' %}мая
{% when '6' %}июня
{% when '7' %}июля
{% when '8' %}августа
{% when '9' %}сентября
{% when '10' %}октября
{% when '11' %}ноября
{% when '12' %}декабя
{% endcase %}
{{ unixdate | date: "%Y" }}</div></div></div><div class="blogpost__body__wrap"><div class="blogpost__body"><div class="blogpost__content"><img src="{{ page.image }}" alt="{{ page.body | smartify }}" class="blogpost__image"/>{{ content }}</div><div class="blogpost__gallery">{% for image in page.photos %}<img src="{{ image }}" class="blogpost__photo"/>{% endfor %}</div><a href="{{ page.vklink }}" target="_blank" title="Оригинальная публикация (Вконтакте)" class="blogpost__vklink">{{ page.vklink }}</a></div><div class="full_post__breadcrumbs--bottom">{% unless page.previous == nil %}<a href="{{ page.previous.url }}" class="full_post__breadcrumb"><div class="full_post__breadcrumb__icon"><svg viewbox="0 0 20 20"><title>назад</title><path d="M2.5,10L9,3.5V7h8v6H9v3.5L2.5,10z" class="full_post__breadcrumb__icon__svg"></path></svg></div><div class="full_tour__breadcrumb__label">Предыдущая запись</div></a>{% endunless %}
{% unless page.next == nil %}<a href="{{ page.next.url }}" class="full_post__breadcrumb"><div class="full_tour__breadcrumb__label">Следующая запись</div><div class="full_post__breadcrumb__icon"><svg viewbox="0 0 20 20"><title>назад</title><path d="M17.25 10l-6.5-6.5V7h-8v6h8v3.5l6.5-6.5z" class="full_post__breadcrumb__icon__svg"></path></svg></div></a>{% endunless %}</div></div>