<div class="full_post__heading"><div class="full_post__breadcrumbs"><a href="/#posts__wrap" class="full_post__breadcrumb"><div class="full_post__breadcrumb__icon"><svg viewbox="0 0 20 20"><title>назад</title><path d="M2.5,10L9,3.5V7h8v6H9v3.5L2.5,10z" class="full_post__breadcrumb__icon__svg"></path></svg></div><div class="full_tour__breadcrumb__label">вернуться на главную</div></a></div><div class="full_post__heading__left"><div class="full_post__date">{% assign unixdate = {{ page.date }} %}
{% assign m = unixdate | date: "%-m" %}
{{ unixdate | date: "%-d" }}
{% case m %} 
{% when '1' %}января
{% when '2' %}февраля
{% when '3' %}марта
{% when '4' %}апреля
{% when '5' %}мая
{% when '6' %}июня
{% when '7' %}июля
{% when '8' %}августа
{% when '9' %}сентября
{% when '10' %}октября
{% when '11' %}ноября
{% when '12' %}декабя
{% endcase %} 
{{ unixdate | date: "%Y" }}</div><h1 class="full_post__title">{{ page.title | smartify }}</h1></div></div><div class="full_post__content__wrap"><div class="full_post__summary">{{ page.summary | smartify }}</div><div class="full_post__body"><div class="full_post__image__wrap"><img src="/img/posts400/{{ page.image }}" alt="{{ page.title | smartify }}" class="full_post__image"/></div>{{ content }}</div><div class="full_post__breadcrumbs--bottom">{% unless page.previous == nil %}<a href="{{ page.previous.url }}" class="full_post__breadcrumb"><div class="full_post__breadcrumb__icon"><svg viewbox="0 0 20 20"><title>назад</title><path d="M2.5,10L9,3.5V7h8v6H9v3.5L2.5,10z" class="full_post__breadcrumb__icon__svg"></path></svg></div><div class="full_tour__breadcrumb__label">Предыдущая новость </div></a>{% endunless %}
{% unless page.next == nil %}<a href="{{ page.next.url }}" class="full_post__breadcrumb"><div class="full_tour__breadcrumb__label">Следующая новость</div><div class="full_post__breadcrumb__icon"><svg viewbox="0 0 20 20"><title>назад</title><path d="M17.25 10l-6.5-6.5V7h-8v6h8v3.5l6.5-6.5z" class="full_post__breadcrumb__icon__svg"></path></svg></div></a>{% endunless %}</div></div>