<meta charset="utf-8"/><meta name="google-site-verification" content="YkAVNs31EYsJkYnjFyz7jAR-7jWpesv6D7i-Qd-jdS8"/><meta name="yandex-verification" content="fa9cf3cdd3267c1c"/>

<title>{% if page.title %}{{ page.title | escape }} - {% endif %} {{ site.title }}</title><meta id="pageDescription" name="description" content="{% if page.description %}{{ page.description | smartify | truncate: 160 }}{% elsif page.intro %}{{ page.intro | smartify | truncate: 160 }}{% elsif page.summary %}{{ page.summary | smartify | truncate: 160 }}{% else %}{{ site.description | smartify | truncate: 160 }}{% endif %}"/><link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="viewport" content="width=device-width,initial-scale=1"/><link rel="stylesheet" href="/css/site.css"/><link rel="icon" href="/favicon.ico"/>{% if page.url contains '/tours/' %}
{%     if page.url == '/tours/' %}{%         for tag in site.data.tags %}<link rel="prefetch" href="{{ tag.url }}"/>{%         endfor %}{% else %}
{% for tag in site.data.tags %}
{% if tag.url == page.url %}
{% if tag.subtags %}{% for subtag in tag.subtags %}
{% if subtag.url != page.url %}<link rel="prefetch" href="{{ subtag.url }}"/>{% endif %}
{% endfor %}{% endif %}{% for tata in site.data.tags %}
{% if tata.url != page.url %}<link rel="prefetch" href="{{ tata.url }}"/>{% endif %}
{% endfor %}{% elsif page.url contains tag.url %}{% for subtag in tag.subtags %}
{% if subtag.url != page.url %}<link rel="prefetch" href="{{ subtag.url }}"/>{% endif %}
{% endfor %}{% endif %}
{% endfor %}
{% endif %}
{% else %}<link rel="prefetch" href="/tours"/>{% endif %}<link rel="prefetch" href="/contact"/><link rel="prefetch" href="/testimonials"/>