<section id="posts__wrap" class="posts__wrap"><h2 class="section_header">Новости и спецпредложения</h2><ul class="posts__list">{% assign posts = site.news | sort: 'dateposted' %}
{% for post in posts reversed %}<li class="post__wrap"><div class="post__image__wrap"><img sizes="(max-width: 619px) 1px, (min-width: 620px) and (max-width: 859px) 45vw, (min-width: 860px) and (max-width: 1158px) 36vw, 345px" srcset="/img/none.jpg 1w, /img/posts200/{{ post.image }} 200w, /img/posts300/{{ post.image }} 300w, /img/posts400/{{ post.image }} 400w" src="/img/posts300/{{ post.image }}" alt="alt" class="post__image"/></div><a href="{{ post.url }}" class="post__content__wrap"><div class="post__date">{% assign unixdate = post.dateposted %}
{% assign m = unixdate | date: "%-m" %}
{{ unixdate | date: "%-d" }}
{% case m %} 
{% when '1' %}января
{% when '2' %}февраля
{% when '3' %}марта
{% when '4' %}апреля
{% when '5' %}мая
{% when '6' %}июня
{% when '7' %}июля
{% when '8' %}августа
{% when '9' %}сентября
{% when '10' %}октября
{% when '11' %}ноября
{% when '12' %}декабя
{% endcase %} 
{{ unixdate | date: "%Y" }}</div><h3 class="post__title">{{ post.title }}</h3><p class="post__summary">{{ post.summary }}</p><footer class="post__footer">Читать далее</footer></a></li>{% endfor %}</ul></section>