<section class="testimonials__wrap"><ul class="testimonials__list">{% for tstm in site.data.testimonials reversed %}<li class="testimonial__wrap"><blockquote class="testimonial"><div class="testimonial__text__wrap">{% for p in tstm.message %}<p class="testimonial__text"><p>{{ p }}</p>
</p>{% endfor %}</div><div class="testimonial__svg__wrap"><svg viewbox="0 0 32 24"><g transform="translate(0 -1028)"><path d="m25.69 1052c3.33 0 6.032-2.442 6.032-5.455 0-3.011-2.702-5.455-6.032-5.455-6.03 0-2.011-10.54 6.032-10.54v-2.546c-14.35 0-19.98 24-6.032 24zm-17.38 0c3.328 0 6.03-2.442 6.03-5.455 0-3.011-2.702-5.455-6.03-5.455-6.032 0-2.013-10.54 6.03-10.54v-2.546c-14.35 0-19.98 24-6.03 24z" class="icon_quote testimonial__svg__path"></path></g></svg></div><footer class="testimonial__footer"><div class="testimonial__date">{% assign m = tstm.date | date: "%-m" %}
{{ tstm.date | date: "%-d" }}
{% case m %} 
{% when '1' %}января
{% when '2' %}февраля
{% when '3' %}марта
{% when '4' %}апреля
{% when '5' %}мая
{% when '6' %}июня
{% when '7' %}июля
{% when '8' %}августа
{% when '9' %}сентября
{% when '10' %}октября
{% when '11' %}ноября
{% when '12' %}декабя
{% endcase %} 
{{ tstm.date | date: "%Y" }}</div><cite class="testimonial__name">{{ tstm.author }}</cite></footer></blockquote></li>{% endfor %}</ul></section>