<section id="testimonials_list__wrap"><ul class="testimonials__list">{% for testimonial in site.data.testimonials reversed %}<li class="testimonial"><blockquote class="testimonial__quote">{% for p in testimonial.testimonial %}<p class="testimonial__text">{{ p }}</p>{% endfor %}<footer class="testimonial__quote__footer"><cite class="testimonial__name">{{ testimonial.author }}</cite><div class="testimonial__date">{% assign m = testimonial.date | date: "%-m" %}
{{ testimonial.date | date: "%-d" }}
{% case m %} 
{% when '1' %}января
{% when '2' %}февраля
{% when '3' %}марта
{% when '4' %}апреля
{% when '5' %}мая
{% when '6' %}июня
{% when '7' %}июля
{% when '8' %}августа
{% when '9' %}сентября
{% when '10' %}октября
{% when '11' %}ноября
{% when '12' %}декабя
{% endcase %} 
{{ testimonial.date | date: "%Y" }}</div></footer></blockquote></li>{% endfor %}</ul></section>