<section class="tours_nav__wrap"><h2 class="section_header tours_nav__section_header">Категории</h2><nav class="tours_nav">{% for tag in site.data.tags %}
  {% assign is_empty = 1 %}
  {% for tour in site.tours %}      {% if tour.tags contains tag.tag %}
        {% assign is_empty = 0 %}
      {% endif %}  {% endfor %}
  {% if is_empty == 0 %}<a href="{{ tag.url }}" class="tours_nav__link tours_nav__link--tag {% if page.url contains tag.url %}active{% endif %}"> 
{{ tag.title }}</a>    {% if tag.subtags %}
      {% for subtag in tag.subtags %}
        {% assign subtag_is_empty = 1 %}
        {% for tour in site.tours %}            {% if tour.tags contains subtag.subtag %}
              {% assign subtag_is_empty = 0 %}
            {% endif %}        {% endfor %}
        {% if subtag_is_empty == 0 %}<a href="{{ subtag.url }}" class="tours_nav__link tours_nav__link--subtag {% if forloop.last %}tours_nav__link--subtag--last {% else %}{% endif %}tours_nav__link--subtag--notlast {% if page.url contains tag.url %}visible{% if page.url contains subtag.url %} active{% endif %}{% endif %}">{{ subtag.title }}</a>        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}</nav></section>