<section class="upcoming_events__wrap"><h2 class="section_header">Ближайшие туры</h2><div class="upcoming_events__list">{% assign upcoming_counter = 0 %}
{% for x in site.data.upcoming%}
    {% assign tt = site.data.tours[x] %}
    {% if tt.dates[0] != 0 %}
        {% if upcoming_counter > 3 %}
            {% break %}
        {% else %}
            {% assign upcoming_counter = upcoming_counter | plus: 1 %}<a href="/tours/{{ tt.tour }}" class="event__wrap"><div class="event__image__wrap"><img sizes="(max-width: 619px) 1px, (min-width: 720px) and (max-width: 1079px) 37vw, (min-width: 1080px) and (max-width: 1158px) 24vw, 263px" srcset="/img/none.jpg 1w, /img/tours200/{{ tt.imgpath }} 200w, /img/tours300/{{ tt.imgpath }} 300w, /img/tours400/{{ tt.imgpath }} 400w" alt="{{ tt.title | smartify }}" class="event__image"/></div><div class="event__date">{% if tt.dates[0] | plus: 0 > 10 %} {% assign unixdate = tt.dates[0] | round | minus:25569 | times:86400 %}
{% assign m = unixdate | date: "%-m" %}
{{ unixdate | date: "%-d" }}
{% case m %} 
{% when '1' %}января
{% when '2' %}февраля
{% when '3' %}марта
{% when '4' %}апреля
{% when '5' %}мая
{% when '6' %}июня
{% when '7' %}июля
{% when '8' %}августа
{% when '9' %}сентября
{% when '10' %}октября
{% when '11' %}ноября
{% when '12' %}декабя
{% endcase %} 
{{ unixdate | date: "%Y" }}{% else %} по заказу {% endif %}</div><h4 class="event__title">{{ tt.title }}.
{{ tt.subtitle }}</h4><footer class="event__footer">Подробнее</footer></a>        {% endif %}
    {% endif %}
{% endfor %}</div></section>