.content
    p Туробоз Пермь - турагенство предлагает Вам захватывающие экскурсии по Перми и Пермскому краю с профессиональными гидами по доступным ценам. Это увлекательные автобусные и пешеходные экскурсии и туры выходного дня по различным направлениям для детей и взрослых.
    p В ходе экскурсии вокруг каждой достопримечательности разворачивается настоящее расследование, раскрываются тайны, имена знаменитых персонажей. Получаются едва ли не детективные истории. И все это у нас на Урале.
    p Если по выходным у Вас появляется свободное время, и Вы готовы провести его с пользой для себя, то совершите поездку в один из городов России и Пермского края. Посетите храмы Перми, этнографический музей "Хохловка",  или, например, закулисье Театра Оперы и Балета. Выходные для того и существуют, чтобы посвящать их интересным делам.
    p Ваше путешествие займет один или два дня, зато сколько незабываемых впечатлений останется в Вашей памяти! Хотите больше узнать о родном крае? Поехали!
    p Организация экскурсий для детей – одно из ведущих направлений деятельности турфирмы «Туробоз». Для нас, экскурсия для школьников – это не простое времяпрепровождение, это интеллектуальная деятельность в свободное или учебное время.
    p Благодаря своей наглядности, доходчивости, эмоциональности экскурсия является чрезвычайно эффективной формой передачи знаний экскурсантам, способствует прочному усвоению приводимых фактов, оказывает сильное воздействие на формирование духовного облика человека. Кроме того, юные путешественники смогут побывать в интереснейших уголка Пермского края.
    h4 Экскурсии с компанией «Туробоз» - это всегда:
    ul
        li Комфортный Экскурсионный автобус, оборудованный всем необходимым для совершения поездки;
        li Услуги профессионального гида - экскурсовода, работающего с наглядными материалами;
        li Новые, авторские туры;
        li Страховка на каждую поездку для туристов от несчастного случая;
        li Бонусы для организаторов групп;
        li Новые акции и спецпредложения на сайте;
        li Веселые викторины со сладкими подарками или просмотр исторического фильма на обратном пути в автобусе;
        li Очень «комфортные» цены!
    p Если у Вас есть свой транспорт, то Вам потребуется только организация проведения экскурсий, то есть составление программы, услуги гида и пр. Воспользуйтесь этой возможностью – поездка обойдется дешевле.
    p Также мы отдельно предоставляем услуги гида, автотранспорта.
    p Мы всегда рады ответить на интересующие Вас вопросы и дать более подробную информацию!
