section.about__wrap.advantages
    h2.section_header
        | Экскурсии с компанией «Туробоз» - это всегда:
    ul.advantages__list
        | {% for advantage in page.advantages %}
        li.advantage
            | {{ advantage }}
        | {% endfor %}
