section.advantages
    h2.section_header
        | Экскурсии с компанией «Туробоз» - это всегда:
    ul.advantages__ul
        li.advantages__li
            | Комфортный Экскурсионный автобус, оборудованный всем необходимым для совершения поездки;
        li.advantages__li
            | Услуги профессионального гида - экскурсовода, работающего с наглядными материалами;
        li.advantages__li
            | Новые, авторские туры;
        li.advantages__li
            | Страховка на каждую поездку для туристов от несчастного случая;
        li.advantages__li
            | Бонусы для организаторов групп;
        li.advantages__li
            | Новые акции и спецпредложения на сайте;
        li.advantages__li
            | Веселые викторины со сладкими подарками или просмотр исторического фильма на обратном пути в автобусе;
        li.advantages__li
            | Очень «комфортные» цены!
