section.advantages__wrap.block--bullets.content-block
    h2.section_header
        | Экскурсии с компанией «Туробоз» - это всегда:
    ul.advantages__list.block__bullets
        | {% for advantage in page.advantages %}
        li.advantage
            | {{ advantage }}
        | {% endfor %}
