section.advantages
    h2.section_header
        | Экскурсии с компанией «Туробоз» - это всегда:
    ul.advantages__ul
        | {% for advantage in page.advantages %}
        li.advantages__li
            | {{ advantage }}
        | {% endfor %}
