include ../mixins.jade

.block--breadcrumbs
    +BreadcrumbWithIcon('/', 'Вернуться на главную')

.block--heading
    .heading__left
        .heading__date
            +LiquidRussianDateLite('page.dateposted')

.blogpost__body__wrap
    .blogpost__body
        .blogpost__content
            img.blogpost__image(src='{{ page.image }}', alt='{{ page.body | smartify }}')
            | {{ content }}

        .blogpost__gallery
            | {% for image in page.photos %}
            img.blogpost__photo(src='{{ image }}')
            | {% endfor %}

        a.blogpost__vklink(href='{{ page.vklink }}', target='_blank', title='Оригинальная публикация (Вконтакте)')
            | {{ page.vklink }}

.block--breadcrumbs.breadcrumbs--prev-next
    | {% unless page.previous == nil %}
    +BreadcrumbWithIcon('{{ page.previous.url }}', 'Предыдущая запись')
    | {% endunless %}

    | {% unless page.next == nil %}
    +BreadcrumbWithIconRev('{{ page.next.url }}', 'Следующая запись')
    | {% endunless %}
