include ../mixins.jade
section.blog__wrap.posts__wrap#blog__wrap
    h2.section_header
        | Блог
    ul.blog.posts__list
        | {% for post in site.vk_news reversed %}
        li.post__wrap.blog__post__wrap
            .post__image__wrap.blog__post__image__wrap
                img.post__image.blogpost__image( src="{{ post.image }}", alt="{{ post.title | truncatewords: 7 | smartify }}")
            a.post__content__wrap.blog__post__content__wrap(href='{{ post.url }}')
                .post__date.blog__post__date
                    +LiquidRussianDateLite('post.dateposted')

                h3.post__summary.blog__post__intro
                    | {{ post.content | truncatewords: 40 | smartify }}

                footer.post__footer.blog__post__footer
                    | Читать далее

        | {% endfor %}
