include ../mixins.jade
section.vkcards__wrap#vkcards__wrap
    h2.section_header
        | Блог
    ul.vkblog__list
        | {% assign top_vk_posts = site.vk_news | reverse %}
        | {% for post in top_vk_posts limit: 5 %}
        li.vkpost__card.card
            a.vkpost__link.card__link(href='{{ post.url }}')
                .vkpost__image__wrap.card__image__wrap
                    img.vkpost__image.card__image( src="{{ post.image }}", alt="{{ post.title | truncatewords: 7 | smartify }}")
                .vkpost__content__wrap.card__content__wrap
                    .vkpost__date.card__date
                        +LiquidRussianDateLite('post.dateposted')

                    .vkpost__intro.card__summary
                        | {{ post.content | truncatewords: 40 | smartify }}

                    .vkpost__button.card__button
                        | Читать далее

        | {% endfor %}
