include ../mixins.jade

.blogpost__heading
    .block--breadcrumbs
        +BreadcrumbWithIcon('/', 'Вернуться на главную')
    .full_post__heading__left
        .full_post__date
              +LiquidRussianDateLite('{{ page.dateposted }}')
.blogpost__body__wrap
    .blogpost__body
        .blogpost__content
            img.blogpost__image(src='{{ page.image }}', alt='{{ page.body | smartify }}')
            | {{ content }}
        .blogpost__gallery
            | {% for image in page.photos %}
            img.blogpost__photo(src='{{ image }}')
            | {% endfor %}

        a.blogpost__vklink(href='{{ page.vklink }}', target='_blank', title='Оригинальная публикация (Вконтакте)')
            | {{ page.vklink }}

    .full_post__breadcrumbs--bottom
        | {% unless page.previous == nil %}
        a.full_post__breadcrumb(href='{{ page.previous.url }}')
            .full_post__breadcrumb__icon
                +iconArrowBack('full_post__breadcrumb__icon__svg')
            .full_tour__breadcrumb__label
                | Предыдущая запись
        | {% endunless %}
        | {% unless page.next == nil %}
        a.full_post__breadcrumb(href='{{ page.next.url }}')
            .full_tour__breadcrumb__label
                | Следующая запись
            .full_post__breadcrumb__icon
                +iconArrowForward('full_post__breadcrumb__icon__svg')
        | {% endunless %}
