include ../mixins.jade

section.contacts__wrap
  .business-info(itemscope='', itemtype='http://schema.org/LocalBusiness')
    h2.brand(itemprop='name')
      | Туробоз

    ul.contacts-list
      | {% for phone in site.phones %}
      li.contact
        a.phone(href="tel:{{ phone | remove: ' ' }}", title='Позвонить нам')
          span(itemprop='telephone')
            | {{ phone }}
      | {% endfor %}
      li.contact
        a.mail(href='{{ site.email }}')
          span(itemprop='email')
            | {{ site.email }}

    .address(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
      span(itemprop='postalCode')
        | {{ page.postal_code}},
      br

      span(itemprop='addressCountry')
        | {{ page.country }},
      +space()

      span(itemprop='addressLocality')
        | {{ page.city }},
      br

      span(itemprop='streetAddress')
        | {{ page.street_address }},
      br

      | {{ page.descriprion }},
      br

      | {{ page.entrance }}

  a.map(href='https://goo.gl/maps/FbLPyK1Y4sP2', target='_blank', rel='noopener', title='Открыть на Картах Гугл')
    img.map__img(srcset='/img/newmap@2x.png 2x', src='/img/newmap.png' alt='Туробоз на Карте')
    .map__tooltip.tooltip
      | Открыть на Картах Гугл
