include ../mixins.jade

section.contacts__wrap
    .c__textual
        ul.contacts__list
            | {% for phn in page.phones %}
            li.c__contact.c__phone
                a.phone(href="tel:{{ phn | remove: ' ' }}")
                    | {{ phn }}
            | {% endfor %}
            li.c__contact.c__mail
                +mail('{{ site.email }}')

        .c__address
            | {% for line in page.address %}
            | {{ line }}
            br
            | {% endfor %}

    a.c__map__link(href='https://goo.gl/maps/FbLPyK1Y4sP2', target='_blank', alt='открыть на Картах Гугл')
        img.c__map__img(src='/img/map.jpg', alt='Туробоз - Карты Гугл') 
