include ../mixins.jade

section.c__phones
    h2.section_header
        | Телефоны
    ul.c__phones__ul
        li.c__phones_li
            +phone(908,275,70,92)
        li.c__phones_li
            +phone(342,281,15,25)
        li.c__phones_li
            +phone(342,268,03,62)

section.c__address
    h2.section_header
        | Наш адрес
    p.c__address__line.c__address__zipcode
        | 614000
    p.c__address__line.c__address__city
        | Россия, г.Пермь,
    p.c__address__line.c__address__lineone
        | Комсомольский проспект, д.67
    p.c__address__line.c__address__description
        | (зеленый дом, где магазин «Летуаль»),
    p.c__address__line.c__address__entrance
        | вход со двора.
