include ../mixins.jade

footer#site_footer
  a.footer-contact.footer-contact--mail(href='mailto:{{ site.email }}')
    .footer-icon
      +iconMail('f__icon__path')
    | {{ site.email }}
  a.footer-contact.footer-contact--phone(href="tel:{{ site.phones | first | remove: ' ' }}")
    .footer-icon
      +iconPhone('f__icon__path')
    | {{ site.phones | first }}
  a.footer-contact.footer-contact--vk(href='https://{{ site.vk_group }}', target='_blank')
    .footer-icon
      +iconVK('f__icon__path')
    | {{ site.vk_group }}

  .footer-corner-box
    .site-copyright
      | ©
      | {{ site.company_legal }},
      | {{ site.copyright_dates }}
    .site-developer
      | Designed and developed by
      +space()
      a.site-developer__link(href = 'https://github.com/{{ site.github_username }}', target = '_blank')
        | {{ site.github_username }}
