include ../mixins.jade

footer#site_footer
    a.f__contact.f__mail(href='mailto:{{ site.email }}')
        .f__contact_icon
            +iconMail('f__icon__path')
        | {{ site.email }}

    a.f__contact.f__phone(href='tel:89082757092')
        .f__contact_icon
            +iconPhone('f__icon__path')
        | 8 908 275 70 92

    a.f__contact.f__vk(href='https://{{ site.vk_group }}')
        .f__contact_icon
            +iconVK('f__icon__path')
        | {{ site.vk_group }}

    .f__corner_box
        .f__copyright
            span.f__copyright__sign
                | © 
            span.f__copyright__company
                | {{ site.company_legal }}, 
            span.f__copyright__date
                | {{ site.copyright_dates }}

        #f__developer
            | Designed and developed by 
            a#f__developer__link(href='https://github.com/{{ site.github_username }}')
                span.f__developer__username
                    | {{ site.github_username }} 
                span.f__developer__icon
                    +iconGithub('f__icon__path')

