// header form {{{
mixin CallBackForm()
  form#call-back-form.call-back-form( action = '{{ site.forms_url }}'
                                    , method = 'POST'
                                    )
    +formSubject('call-back-form__subject', 'Заказ звонка')
    input#call-back-form__name.call-back-form__name.call-back-form__input( name = 'Name'
                                                                         , type = 'text'
                                                                         , placeholder = 'Как к Вам обращаться?'
                                                                         , required
                                                                         )
    input#call-back-form__phone.call-back-form__phone.call-back-form__input( name = 'Tel'
                                                                           , type = 'tel'
                                                                           , pattern = '[0-9+-/s)(]{5,}'
                                                                           , placeholder = 'Ваш номер телефона'
                                                                           , required
                                                                           )
    button#call-back-form__cancel.call-back-form__button.call-back-form__toggle(type = 'button')
      | Отмена
    button#call-back-form__button.call-back-form__button(type = 'submit')
      | Заказать звонок

// }}}

// fields {{{
mixin formSubject(fieldId, fieldValue)
  input.hidden_field( id = fieldId
                    , name = '_subject'
                    , type = 'hidden'
                    , value = fieldValue
                    )

mixin formName(fieldId)
  .form__input_group
    label.form__label( for = fieldId )
      | Ваше имя:
    input.form__input( id = fieldId
                     , name = 'Name'
                     , type = 'text'
                     , placeholder = 'Как к Вам обращаться?'
                     , required
                     )

mixin formPhone(fieldId)
  .form__input_group
    label.form__label( for = fieldId )
      | Ваш номер телефона:
    input.form__input( id = fieldId
                     , name = 'Tel'
                     , type = 'tel'
                     , pattern = '[0-9+-/s)(]{5,}'
                     , placeholder = 'Ваш номер телефона'
                     , required
                     )

mixin formMail(fieldId)
  .form__input_group
    label.form__label( for = fieldId )
      | Ваш email:
    input.form__input( id = fieldId
                     , name = 'Email'
                     , type = 'email'
                     , placeholder = 'Ваш email'
                     )

mixin formText(fieldId, fieldLabel, fieldPlaceholder)
  .form__input_group
    label.form__label( for = fieldId )= fieldLabel
    textarea.form__input.form__textarea( id = fieldId
                                       , placeholder = fieldPlaceholder
                                       , name = 'Message'
                                       , required
                                       )
// }}}
// base {{{
mixin FormBody(formId, buttonCopy, ...formClasses)
  - formClasses.push(formId)
  - formClasses.push('form')
  form( id = formId
      , class = formClasses
      , action = '{{ site.forms_url }}'
      , method = 'POST'
      )
    block
    button.form__button( id = `${formId}__button`
                       , type = 'submit'
                       )= buttonCopy

// }}}

mixin ContactForm()
  +FormBody('contact-form', 'Отправить сообщение')
    +formSubject('contact-form__subject')
    +formName('contact-form__name')
    +formMail('contant-form__mail')
    +formText('contact-form__question', 'Вопрос', 'Что вас интересует?')

mixin GuideForm()
  +FormBody('guide-form', 'Заказать')
    +formSubject('guide-form__subject', 'Заказ индивидуального тура')
    +formName('guide-form__name')
    +formPhone('guide-form__phone')
    +formText('guide-form__question', 'Сообщение', 'Что вас интересует?')

mixin OrderForm()
  +FormBody('order-form', 'Заказать')
    +formSubject('order-form__subject', 'Заказ {{ page.title }}')
    +formName('order-form__name')
    +formMail('order-form__mail')
    +formPhone('order-form__phone', true)

mixin ReviewForm()
  +FormBody('review-form', 'Оставить отзыв')
    +formSubject('review-form__subject', 'Отзыв')
    +formName('review-form__name')
    +formMail('review-form__mail')
    +formText('review-form__question', 'Отзыв', 'Ваш отзыв')
