include ../mixins.jade

.full_post__heading
    .block--breadcrumbs
        +BreadcrumbWithIcon('/', 'Вернуться на главную')
    .full_post__heading__left
        .full_post__date
              +LiquidRussianDateLite('{{ page.dateposted }}')
          h1.full_post__title
              | {{ page.title | smartify }}
.full_post__content__wrap
    .full_post__summary
        | {{ page.summary | smartify }}
    .full_post__body
        .full_post__image__wrap
            img.full_post__image(srcset="/img/posts430/{{ page.image }} 1x, /img/posts800/{{ page.image }} 2x", src="/img/posts430/{{ page.image }}", alt="{{ page.title | smartify }}")
        | {{ page.body | markdownify }}
    .full_post__breadcrumbs--bottom
        | {% unless page.previous == nil %}
        a.full_post__breadcrumb(href='{{ page.previous.url }}')
            .full_post__breadcrumb__icon
                +iconArrowBack('full_post__breadcrumb__icon__svg')
            .full_tour__breadcrumb__label
                | Предыдущая новость
        | {% endunless %}
        | {% unless page.next == nil %}
        a.full_post__breadcrumb(href='{{ page.next.url }}')
            .full_tour__breadcrumb__label
                | Следующая новость
            .full_post__breadcrumb__icon
                +iconArrowForward('full_post__breadcrumb__icon__svg')
        | {% endunless %}
