include ../mixins.jade

.block--breadcrumbs
    +BreadcrumbWithIcon('/', 'Вернуться на главную')
.full_post__heading
    .full_post__heading__left
        .full_post__date
              +LiquidRussianDateLite('{{ page.dateposted }}')
          h1.full_post__title
              | {{ page.title | smartify }}
.full_post__content__wrap
    .full_post__summary
        | {{ page.summary | smartify }}
    .full_post__body
        .full_post__image__wrap
            img.full_post__image(srcset="/img/posts430/{{ page.image }} 1x, /img/posts800/{{ page.image }} 2x", src="/img/posts430/{{ page.image }}", alt="{{ page.title | smartify }}")
        | {{ page.body | markdownify }}

.block--breadcrumbs.breadcrumbs--prev-next
    | {% unless page.previous == nil %}
    +BreadcrumbWithIcon('{{ page.previous.url }}', 'Предыдущая новость')
    | {% endunless %}

    | {% unless page.next == nil %}
    +BreadcrumbWithIconRev('{{ page.next.url }}', 'Следующая новость')
    | {% endunless %}
