include ../mixins.jade

.block--breadcrumbs
    +BreadcrumbWithIcon('/', 'Вернуться на главную')

.block--heading
    .heading__left
        .heading__date
            +LiquidRussianDateLite('page.dateposted')

        h1.heading__title
            | {{ page.title | smartify }}

section.full-post__description.block--textual.block--textimg.block--no-header
    .block--textimg__image__wrap
        img.block--textimg__image(srcset="/img/posts430/{{ page.image }} 1x, /img/posts800/{{ page.image }} 2x", src="/img/posts430/{{ page.image }}", alt="{{ page.title | smartify }}")

    p.full-post__summary
        | {{ page.summary | smartify }}

    | {{ page.body | markdownify }}

.block--breadcrumbs.breadcrumbs--prev-next
    | {% unless page.previous == nil %}
    +BreadcrumbWithIcon('{{ page.previous.url }}', 'Предыдущая новость')
    | {% endunless %}

    | {% unless page.next == nil %}
    +BreadcrumbWithIconRev('{{ page.next.url }}', 'Следующая новость')
    | {% endunless %}
