include ../mixins.jade

.block--breadcrumbs
    +BreadcrumbWithIcon('/', 'Вернуться на главную')

.block--heading
    .heading__left
        .heading__date
            +LiquidRussianDateLite('page.dateposted')

section.full-vkpost__description.block--textual.block--textimg.block--no-header.content-block
    .block--textual__image__wrap
        img.block--textual__image(src='{{ page.image }}', alt='{{ page.body | smartify }}')

    | {{ content }}

    .block__gallery
        | {% for image in page.photos %}
        img.gallery__image(src='{{ image }}')
        | {% endfor %}

    .vk__source
        | Оригинальная публикация:
        a.vk__source__link(href='{{ page.vklink }}', target='_blank', title='Оригинальная публикация (Вконтакте)')
            |  {{ page.vklink }}

.block--breadcrumbs.breadcrumbs--prev-next
    | {% unless page.previous == nil %}
    +BreadcrumbWithIcon('{{ page.previous.url }}', 'Предыдущая запись')
    | {% endunless %}

    | {% unless page.next == nil %}
    +BreadcrumbWithIconRev('{{ page.next.url }}', 'Следующая запись')
    | {% endunless %}
