include ../mixins.jade
.block--breadcrumbs
    +BreadcrumbWithIcon('/tours', 'К списку экскурсий')
    | {% for item in page.tags %}
    |   {% for tag in site.data.tags %}
    |     {% if tag.tag == item %}
    +Breadcrumb('{{ tag.url }}', '{{ tag.title }}')
    |     {% elsif tag.subtags%}
    |       {% for subtag in tag.subtags %}
    |         {% if subtag.subtag == item %}
    +Breadcrumb('{{ subtag.url }}', '{{ subtag.title }}', 'breadcrumb--subtag')
    |         {% endif %}
    |       {% endfor %}
    |     {% endif %}
    |   {% endfor %}
    | {% endfor %}

.block--heading
    .heading__left
        .heading__date
            +DateRangeOrNot(`page`)
        h1.heading__title
            | {{ page.title }}
        .heading__subtitle
            | {{ page.subtitle }}

    .heading__right
        .heading__details__label
            | Продолжительность:
        .heading__details__value.full-tour-length
            | {{ page.tourlength }}

        .heading__details__label
            | Стоимость:
        | {% for item in page.prices %}
        .heading__details__value.full-tour-price
            | {{ item }}
        | {% endfor %}

section.full_tour__description.block--textual.block--textimg.block--no-header.content-block
    .block--textual__image__wrap
        img.block--textual__image(srcset="/img/tours400/{{ page.imgpath }} 1x, /img/tours800/{{ page.imgpath }} 2x", src="/img/tours400/{{ page.imgpath }}",  alt="{{ page.title | smartify }}")
    p.full_tour__intro.block__text
        | {{ page.intro | smartify }}
    p.full_tour__summary.block__text
        | {{ page.summary | smartify }}

    //- details {{{
    | {% if page.details.size >= 1 %}
    | {% for d in page.details %}
    p.details.block__text
        | {{ d | smartify }}
    | {% endfor %}

    | {% endif %}
    //- /details }}}
//- blueprint {{{
| {% if page.blueprint.size >= 1 %}

section.blueprint__wrap.block--bullets.content-block
    h2.section_header
        | Программа:
    ul.full_tour__blueprint.block__bullets
        | {% for item in page.blueprint %}
        li.blueprint__item.bullet
            | {{ item | smartify }}
        | {% endfor %}

| {% endif %}
//- /blueprint }}}
//- includes {{{
| {% if page.includes.size >= 1 %}

section.includes__wrap.block--bullets.content-block
    h2.section_header
        | в стоимость входят:
    ul.full_tour__includes.block__bullets
        | {% for item in page.includes %}
        li.includes__item.bullet
            | {{ item | smartify }}
        | {% endfor %}

| {% endif %}
//- /includes }}}
//- additional_fees {{{
| {% if page.additionalFees.size >= 1 %}

section.additional-fees__wrap.block--bullets.content-block
    h2.section_header
        | Дополнительно оплачиваемые услуги:
    ul.additional-fees.block__bullets
        | {% for item in page.additionalFees %}
        li.additional-fees__item.bullet
            | {{ item | smartify }}
        | {% endfor %}

| {% endif %}
//- /additional_fees }}}
//- will_learn {{{
| {% if page.willLearn.size >= 1 %}

section.will-learn__wrap.block--bullets.content-block
    h2.section_header
        | Вы узнаете:
    ul.will-learn.block__bullets
        | {% for item in page.willLearn %}
        li.will-learn__item.bullet
        | {{ item | smartify }}
    | {% endfor %}

| {% endif %}
//- /will_learn }}}

.full_tour__form__wrap.order_form__wrap
    include order_form.jade
