include ../mixins.jade
| {% assign newid = page.id | remove: 'tours' | remove: '/'%}
| {% assign currentTour = site.data.tours[newid] %}
//- heading {{{
.full_tour__heading
    .full_tour__heading__left
        //- breadcrumbs {{{
        .full_tour__breadcrumbs
            a.full_tour__breadcrumb.full_tour__breadcrumb--top(href='/tours')
                .full_tour__breadcrumb__icon
                    +iconArrowBack('full_tour__breadcrumb__icon__svg')
                .full_tour__breadcrumb__label
                    | К списку экскурсий

            | {% for item in currentTour.tags %}
            | {% for tag in site.data.tags %}
            | {% if tag.tag == item %}
            a.full_tour__breadcrumb(href='{{ tag.url }}')
                .full_tour__breadcrumb__label
                    | {{ tag.title }}
            | {% elsif tag.subtags%}
            | {% for subtag in tag.subtags %}
            | {% if subtag.subtag == item %}
            a.full_tour__breadcrumb.full_tour__breadcrumb--subtag(href='{{ subtag.url }}')
                .full_tour__breadcrumb__label
                    | {{ subtag.title }}
            | {% endif %}
            | {% endfor %}
            | {% endif %}
            | {% endfor %}
            | {% endfor %}
        //- /breadcrumbs }}}

        .full_tour__date(itemprop='startDate', content='{{ currentTour.dates[0] | date: "%d-%m-%Y" }}')
            +LiquidRussianDate('currentTour.dates[0]')

        .full_tour__title__wrap(itemprop='name')
            h1.full_tour__title
                | {{ currentTour.title }}

            .full_tour__subtitle
                | {{ currentTour.subtitle }}

    .full_tour__heading__right

        .full_tour__len
            | {{ currentTour.length }}

        .full_tour__prices
            | {% for item in currentTour.prices %}
            .full_tour__price
                | {{ item }}
            | {% endfor %}

//- /heading }}}
.full_tour__content__wrap
    //- introduction {{{
    section.full_tour__intro__wrap
        .full_tour__image__wrap
            img.full_tour__image(itemprop='image', src='/img/{{ currentTour.imgpath }}', alt='{{ currentTour.title }}')
        p.full_tour__intro
            | {{ currentTour.intro }}
        p.full_tour__summary
            | {{ currentTour.summary }}
    //- /introduction }}}
    //- blueprint {{{
    | {% if currentTour.blueprint[0] > '' %}
    section.full_tour__blueprint__wrap
        h2.section_header
            | Программа:
        ul.full_tour__blueprint__list
            | {% for item in currentTour.blueprint %}
            li.full_tour__blueprint__list__item
                | {{ item }}
            | {% endfor %}
    | {% endif %}
    //- /blueprint }}}
    //- includes {{{
    section.full_tour__includes__wrap
        h2.section_header
            | в стоимость входят:
        ul.full_tour__includes__list
            | {% for item in currentTour.includes %}
            li.full_tour__includes__list__item
                | {{ item }}
            | {% endfor %}
    //- /includes }}}
    //- details {{{
    | {% if currentTour.details[0] > '' %}
    section.full_tour__details__wrap
        | {% for d in currentTour.details %}
        p.full_tour__details
            | {{ d }}
        | {% endfor %}
    | {% endif %}
    //- /details }}}
    //- additional_fees {{{
    | {% if currentTour.additional_fees[0] > '' %}
    section.full_tour__additional_fees__wrap
        h2.section_header
            | Дополнительно оплачиваемые услуги:
        ul.full_tour__additional_fees__list
            | {% for item in currentTour.additional_fees %}
            li.full_tour__additional_fees__list__item
                | {{ item }}
            | {% endfor %}
    | {% endif %}
    //- /additional_fees }}}
    //- will_learn {{{
    | {% if currentTour.will_learn[0] > '' %}
    section.full_tour__will_learn__wrap
        h2.section_header
            | Вы узнаете:
        ul.full_tour__will_learn_list
            | {% for item in currentTour.will_learn %}
        li.full_tour__will_learn__list__item
            | {{ item }}
        | {% endfor %}
    | {% endif %}
    //- /will_learn }}}
//- form {{{
.full_tour__form__wrap.order_form__wrap
    include order_form.jade
//- /form }}}
                h3.tour__title(itemprop='name')
                    | {{ tour.title }} 
                    | {{ tour.subtitle }} 
                a.tour__link(itemprop='url', href='/tours/{{ tour.tour }}')
