include ../mixins.jade
//- heading {{{
.full_tour__heading
    //- breadcrumbs {{{
    .full_tour__breadcrumbs
        a.full_tour__breadcrumb.full_tour__breadcrumb--top(href='/tours')
            .full_tour__breadcrumb__icon
                +iconArrowBack('full_tour__breadcrumb__icon__svg')
            .full_tour__breadcrumb__label
                | К списку экскурсий

        | {% for item in page.tags %}
        | {% for tag in site.data.tags %}
        | {% if tag.tag == item %}
        a.full_tour__breadcrumb(href='{{ tag.url }}')
            .full_tour__breadcrumb__label
                | {{ tag.title }}
        | {% elsif tag.subtags%}
        | {% for subtag in tag.subtags %}
        | {% if subtag.subtag == item %}
        a.full_tour__breadcrumb.full_tour__breadcrumb--subtag(href='{{ subtag.url }}')
            .full_tour__breadcrumb__label
                | {{ subtag.title }}
        | {% endif %}
        | {% endfor %}
        | {% endif %}
        | {% endfor %}
        | {% endfor %}
    //- /breadcrumbs }}}
    .full_tour__heading__left

        .full_tour__date
            +LiquidRussianDate('page.dates[0]')

        h1.full_tour__title
            | {{ page.title }}

        .full_tour__subtitle
            | {{ page.subtitle }}

    .full_tour__heading__right

        .full_tour__len
            | {{ page.length }}

        .full_tour__prices
            | {% for item in page.prices %}
            .full_tour__price
                | {{ item }}
            | {% endfor %}

//- /heading }}}
.full_tour__content__wrap
    //- introduction {{{
    section.full_tour__intro__wrap
        .full_tour__image__wrap
            img.full_tour__image(src='/img/tours400/{{ page.imgpath }}', alt='{{ page.title }}')
        p.full_tour__intro
            | {{ page.intro }}
        p.full_tour__summary
            | {{ page.summary }}
    //- /introduction }}}
    //- blueprint {{{
    | {% if page.blueprint[0] > '' %}
    section.full_tour__blueprint__wrap
        h2.section_header
            | Программа:
        ul.full_tour__blueprint__list
            | {% for item in page.blueprint %}
            li.full_tour__blueprint__list__item
                | {{ item }}
            | {% endfor %}
    | {% endif %}
    //- /blueprint }}}
    //- includes {{{
    section.full_tour__includes__wrap
        h2.section_header
            | в стоимость входят:
        ul.full_tour__includes__list
            | {% for item in page.includes %}
            li.full_tour__includes__list__item
                | {{ item }}
            | {% endfor %}
    //- /includes }}}
    //- details {{{
    | {% if page.details[0] > '' %}
    section.full_tour__details__wrap
        | {% for d in page.details %}
        p.full_tour__details
            | {{ d }}
        | {% endfor %}
    | {% endif %}
    //- /details }}}
    //- additional_fees {{{
    | {% if page.additional_fees[0] > '' %}
    section.full_tour__additional_fees__wrap
        h2.section_header
            | Дополнительно оплачиваемые услуги:
        ul.full_tour__additional_fees__list
            | {% for item in page.additionalFees %}
            li.full_tour__additional_fees__list__item
                | {{ item }}
            | {% endfor %}
    | {% endif %}
    //- /additional_fees }}}
    //- will_learn {{{
    | {% if page.will_learn[0] > '' %}
    section.full_tour__will_learn__wrap
        h2.section_header
            | Вы узнаете:
        ul.full_tour__will_learn_list
            | {% for item in page.willLearn %}
        li.full_tour__will_learn__list__item
            | {{ item }}
        | {% endfor %}
    | {% endif %}
    //- /will_learn }}}
//- form {{{
.full_tour__form__wrap.order_form__wrap
    include order_form.jade
//- /form }}}
