extends split--uneven.jade

block primary
    .guide_page__content.block--textual.block--no-header.content-block
        .block__text
            | {{ content | markdownify }}

    | {% include guide_form.html %}

block secondary
    | {% include guides.html %}
