meta(charset='utf-8')

//-- search engines {{{
meta(name='google-site-verification', content='YkAVNs31EYsJkYnjFyz7jAR-7jWpesv6D7i-Qd-jdS8')
meta(name='yandex-verification', content="fa9cf3cdd3267c1c")
//-- /search engines }}}



title
    | {% if page.titletag %}{{ page.titletag | smartify }}{% elsif page.title %}{{ page.title | smartify }} - {% endif %} {{ site.title }}
meta(id='pageDescription', name='description', content='{% if page.description %}{{ page.description | smartify | truncate: 160 }}{% elsif page.intro %}{{ page.intro | smartify | truncate: 160 }}{% elsif page.summary %}{{ page.summary | smartify | truncate: 160 }}{% else %}{{ site.description | smartify | truncate: 160 }}{% endif %}')

link(rel='canonical', href="{{ page.url | replace:'index.html','' | prepend: site.url }}")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')

link(rel='stylesheet', href='/css/site.css')
link(rel='icon', href='/favicon.ico')

//-- prerender -----------------------------------------------{{{

| {% unless page.url == '/tours/' %}
link(rel='prerender prefetch', href='/tours/')
| {% endunless %}

| {% unless page.url == '/' %}
link(rel='prerender prefetch', href='/')
| {% endunless %}

//-- /prerender -----------------------------------------------}}}
