section.c__map
    picture.c__map__picture
        //- TODO: mobile image
        source(srcset='/img/map_small.png', media='(max-width: 400px)')
        source(srcset='/img/map.png')
        img(srcset='/img/map.png', alt='Туробоз - Карты Гугл') 
