section.recent_posts__wrap
    h2.section_header
        | События
    ul.recent_posts__list
        | {% for post in site.news reversed limit: 5 %}
        li.recent_post
            a.recent_post__link(href='{{ post.permalink }}')
                | {{ post.title | smartify }}
        | {% endfor %}
