h1.page_heading
    | {% if page.url contains '/tours/' %}
    | Экскурсии
    | {% if page.url != '/tours/' %}
    | {% for tag in site.data.tags %}
    | {% if tag.url == page.url %}
    | {{ tag.title }}
    | {% elsif page.url contains tag.url %}
    | {% for subtag in tag.subtags %}
    | {% if subtag.url == page.url %}
    | {{ subtag.title }}
    | {% endif %}
    | {% endfor %}
    | {% endif %}
    | {% endfor %}
    | {% endif %}
    | {% else %}
    | {{ page.title }}
    | {% endif %}
