include ../mixins.jade
section.posts__wrap
    h2.section_header
        | Новости и спецпредложения
    ul.posts__list
        | {% for post in site.news %}
        li.post__wrap
            .post__image__wrap
                img.post__image(src='/img/{{ post.image }}', alt='{{ post.title | smartify }}')
            .post__content__wrap
                .post__date
                    +LiquidRussianDateLite('post.date')

                a.post__link(href='{{ post.url }}')
                    h3.post__title
                        | {{ post.title }}

                p.post__summary
                    | {{ post.summary }}

                .post__categories__list
                    | {% for category in page.categories %}
                    .post__category
                        | {{ post.category }}
                    | {% endfor %}

                footer.post__footer
                    | Читать далее

        | {% endfor %}

