include ../mixins.jade
section.posts__wrap#posts__wrap
    h2.section_header
        | Новости и спецпредложения
    ul.posts__list
        | {% assign posts = site.news | sort: 'dateposted' %}
        | {% for post in posts reversed %}
        li.post__wrap
            .post__image__wrap
                img.post__image( sizes="(max-width: 659px) 1px, (min-width: 660px) and (max-width: 859px) 400px, 350px", srcset="/img/none.jpg 1w, /img/posts250/{{ post.image }} 250w, /img/posts350/{{ post.image }} 350w, /img/posts430/{{ post.image }} 430w, /img/posts600/{{ post.image }} 600w, /img/posts800/{{ post.image }} 800w", src="/img/posts350/{{ post.image }}", alt="{{ post.title | smartify }}")
            a.post__content__wrap(href='{{ post.url }}')
                .post__date
                    +LiquidRussianDateLite('post.dateposted')

                h3.post__title
                    | {{ post.title | smartify }}

                p.post__summary
                    | {{ post.summary | smartify }}

                footer.post__footer
                    | Читать далее

        | {% endfor %}
