include ../mixins.jade
section.posts__wrap#posts__wrap
    h2.section_header
        | Новости и спецпредложения
    ul.posts__list
        | {% assign posts = site.news sort: 'date' %}
        | {% for post in posts reversed %}
        li.post__wrap
            .post__image__wrap
                img.post__image(src='/img/{{ post.image }}', alt='{{ post.title | smartify }}')
            a.post__content__wrap(href='{{ post.url }}')
                .post__date
                    +LiquidRussianDateLite('post.date')

                h3.post__title
                    | {{ post.title }}

                p.post__summary
                    | {{ post.summary }}

                .post__categories__list
                    | {% for category in page.categories %}
                    .post__category
                        | {{ post.category }}
                    | {% endfor %}

                footer.post__footer
                    | Читать далее

        | {% endfor %}

