section.bespoke__wrap.block--textual.content-block
    h2.section_header
        | Индивидуальные экскурсии
    p.block__text
        | Стоимость услуги рассчитывается исходя из длительности
        | экскурсионного обслуживания и степени сложности материала
        | (исторические, развлекательные экскурсии).

