section.services__guide
    h2.section_header
        | Услуги гида и индивидуальные экскурсии
    p.services__text
        | Стоимость услуги рассчитывается исходя из длительности
        | экскурсионного обслуживания и степени сложности материала
        | (исторические, развлекательные экскурсии).

