section.services__bus
    h2.section_header
        | Заказ автобуса
    p.services__text
        | Туристические автобусы, оснащенные телевизором, микрофоном,
        | откидывающимися сидениями.
    ul.services__bus__ul
        li.services__bus__li от 47 до 50 мест -  1200 руб/час;
        li.services__bus__li от 30 до 33 мест -  1000 руб/час;
        li.services__bus__li от 20 до 29 мест -  900 руб/час;
        li.services__bus__li от 17 до 19 мест -  800 руб/час.


