include ../mixins.jade
section.services__wrap.services__payments__wrap
    h2.section_header
        | Оплата экскурсий
    ul.services__payments
        | {% for p_o in page.payment_opts %}
        li.services__payment
            h3.payment__title
                | {{ p_o.title }}
            p.payment__details
                | {{ p_o.details }}
        | {% endfor %}
