include ../mixins.jade
section.s__intro
    p.s__text
        | Помимо организации групповых автобусных экскурсий, Вы также
        | можете заказать:
    ul.s__intro__ul
        li.s__intro__li Организацию индивидуальной экскурсионной программы;
        li.s__intro__li Услуги гида;
        li.s__intro__li Автобус;
        li.s__intro__li Групповое бронирование Ж/Д билетов.

section.s__bus
    h2.section_header
        | Заказ автобуса
    p.s__text
        | Туристические автобусы, оснащенные телевизором, микрофоном,
        | откидывающимися сидениями.
    ul.s__bus__ul
        li.s__bus__li от 47 до 50 мест -  1200 руб/час;
        li.s__bus__li от 30 до 33 мест -  1000 руб/час;
        li.s__bus__li от 20 до 29 мест -  900 руб/час;
        li.s__bus__li от 17 до 19 мест -  800 руб/час.

section.s__guide
    h2.section_header
        | Услуги гида и индивидуальные экскурсии
    p.s__text
        | Стоимость услуги рассчитывается исходя из длительности
        | экскурсионного обслуживания и степени сложности материала
        | (исторические, развлекательные экскурсии).

section.s__payment_options
    h2.section_header
        | Оплата экскурсий
    ul.s__payment_options_ul
        li.s__payment_option
            h4.s__payment_option_title
                | В офисе
            p.s__payment_option_details
                | Вы можете оплатить тур наличными в 
                a(href='/contact') нашем офисе
                | или написать нам на 
                +mail('{{ site.email }}')
                | .

        li.s__payment_option
            h4.s__payment_option_title
                | Безналичная оплата
            p.s__payment_option_details
                | Для оплаты через любой банк скачайте квитанцию. Оплату
                | совершайте после подтверждения брони вашего тура у
                | менеджера по телефонам, представленным на сайте. В
                | квитанции указывайте номер счёта, предоставленный
                | менеджером.
