section.services__wrap.bus__wrap
    h2.section_header
        | Заказ автобуса
    table.bus__rates__table
        caption.bus__rates__table__caption Стоимость аренды автобусов:
        | {% for optn in site.data.bus_rates %}
        tr.bus__rates__row
            td {{ optn.seats }} мест
            td {{ optn.rate }}руб/час
        | {% endfor %}
    p.bus__info
        | Туристические автобусы, оснащенные телевизором, микрофоном,
        | откидывающимися сидениями.


