section.services__intro
    p.services__text
        | Помимо организации групповых автобусных экскурсий, Вы также
        | можете заказать:
    ul.services__intro__ul
        li.services__intro__li Организацию индивидуальной экскурсионной программы;
        li.services__intro__li Услуги гида;
        li.services__intro__li Автобус;
        li.services__intro__li Групповое бронирование Ж/Д билетов.
