section.s__guide__wrap
    h2.section_header
        | Услуги гида и индивидуальные экскурсии
    p.s__intro
        | Стоимость услуги рассчитывается исходя из длительности
        | экскурсионного обслуживания и степени сложности материала
        | (исторические, развлекательные экскурсии).

