section.services__wrap.bespoke__wrap
    h2.section_header
        | Индивидуальные экскурсии
    p.bespoke__info
        | Стоимость услуги рассчитывается исходя из длительности
        | экскурсионного обслуживания и степени сложности материала
        | (исторические, развлекательные экскурсии).

