section.services__wrap.guide__wrap
    h2.section_header
        | Индивидуальные экскурсии
    p.guide__info
        | Стоимость услуги рассчитывается исходя из длительности
        | экскурсионного обслуживания и степени сложности материала
        | (исторические, развлекательные экскурсии).

