include ../mixins.jade
section.s__payment_opts__wrap
    h2.section_header
        | Оплата экскурсий
    ul.s__payment_opts
        | {% for p_o in page.payment_opts %}
        li.s__payment_opt
            h4.opt_title
                | {{ p_o.title }}
            p.opt_details
                | {{ p_o.details }}
        | {% endfor %}
