section.services__wrap.s__bus__wrap
    h2.section_header
        | Заказ автобуса
    p.s__intro
        | Туристические автобусы, оснащенные телевизором, микрофоном,
        | откидывающимися сидениями.
    h3.s__bus__rates__title
        | Стоимость аренды автобусов:
    dl.s__bus__rates
        | {% for optn in site.data.bus_rates %}
        dt
            | {{ optn.seats }} мест
        dd
            | {{ optn.rate }}руб/час
        | {% endfor %}


