section.s__overview
    p.s__intro
        | Помимо организации групповых автобусных экскурсий, Вы также
        | можете заказать:
    ul.s__services_list
        | {% for serv in page.listed_services %}
        li.s__service 
            | {{ serv }}
        | {% endfor %}
