section#testimonials_list__wrap
    ul.testimonials__list
    | {% for testimonial in site.testimonials %}
    li.testimonial
        blockquote.testimonial__quote
            p.testimonial__text
                | {{ testimonial.content }}

            cite.testimonial__name
                | {{ testimonial.author }}

        span.testimonial__date
            | {{ testimonial.date }}

    | {% endfor %}

            
