section.tours_filters
    | TODO

section.tours_list_wrap
    ul.tours_list
        | {% for tour in site.tours %}
        li.tour_wrap
            | TODO
            | {{ tour.title }}
        | {% endfor %}
