mixin ToursNavPrimary()
    | {% for nptag in site.data.tags %}
    a(href='{{ nptag.url }}', class='tours_nav__link {% if page.url contains nptag.url %}active{% endif %}', id='{% if nptag.subtags %}opens--{{ nptag.tag }}{% endif %}')
        | {{ nptag.title }}
    | {% endfor %}

mixin ToursNavSecondary(tAgg)
    a.tours_nav__link--back(href='../') 
        svg(viewbox='0 0 20 20')
            title назад
            path.tours_nav__link--back__svg(d='M2.5,10L9,3.5V7h8v6H9v3.5L2.5,10z')
    | {% for nssubtag in #{tAgg}.subtags %}
    a(href='{{ nssubtag.url }}', class='tours_nav__link {% if page.url contains nssubtag.url %}active{% endif %}')
        | {{ nssubtag.title }}
    | {% endfor %}

section.tours_nav__wrap
    h2.section_header
        | Категории
    | {% if page.url == '/tours/' %}
    //-- case 1:
    //-- {{{
    //-- no tag selected => show only primary
    nav#tours_nav--primary.tours_nav
        +ToursNavPrimary()
    //-- }}}

    | {% else %}
    | {% for tatag in site.data.tags %}
    | {% if page.url contains tatag.url %}
    | {% if tatag.subtags %}
    //-- case 2:
    //-- {{{
    //-- a tag containing subtags selected => show secondary and (minimized) primary 
    nav#tours_nav--primary.tours_nav.minified
        +ToursNavPrimary()
    nav(id='tours_nav--{{ tatag.tag }}', class='tours_nav tours_nav--{{ tatag.tag }}')
        +ToursNavSecondary('tatag')
    //-- }}}

    | {% else %}
    //-- case 3:
    //-- {{{
    //-- a tag containing no subtags selected =>  show only primary
    nav#tours_nav--primary.tours_nav
        +ToursNavPrimary()
    //-- }}}

    | {% endif %}
    | {% endif %}
    | {% endfor %}
    | {% endif %}
    
    //
