section.tours_list__wrap
    ul.tours_list
    | {% for tour in site.data.tours %}
    li.tour_wrap(class="{% assign tgs = tour.tags | split: ' ' %}{% for tag in tgs %}{{ tag | prepend: 'tagged--' }} {% endfor %}")
        a.tour__link(href='/tours/{{ tour.id }}')
            img.tour__image(src='{{ tour.image }}', alt='{{ tour.title }}')
            h4.tour__title
                | {{ tour.title }} 
            h5.tour__subtitle
                | {{ tour.subtitle }} 
            p.tour__intro
                | {{ tour.intro }}
            p.tour__summary
                | {{ tour.summary }}
            time.tour__date
                | {{ tour.date }}
            .tour__length
                | {{ tour.length }}
    | {% endfor %}
        
