include ../mixins.jade
//-- tour {{{
mixin Tour()
        li.tour__wrap
            .tour__fixed
                .tour__image__wrap
                    img.tour__image(src='/img/{{ tour.imgpath }}', alt='{{ tour.title }}')
                .tour__date
                    +LiquidRussianDate('tour.dates[0]')
                h3.tour__title
                    | {{ tour.title }} 
                    | {{ tour.subtitle }} 
                a.tour__link(href='/tours/{{ tour.id }}')
                    | Подробнее

            .tour__moving
                .tour__length
                    | Продолжительность:
                    | {{ tour.length }}
                p.tour__intro
                    | {{ tour.intro }}
                p.tour__summary
                    | {{ tour.summary }}

//--/tour }}}z
//-- tours__list {{{
mixin ToursList( activeFilter='' )
    ul.tours__list
        | {% for tt in site.tours %}
        | {% assign ttt = tt.id | remove: 'tours' | remove: '/' %}
        | {% assign tour = site.data.tours[ttt] %}
        if activeFilter
            | {% for x in tour.tags %}
            |   {% if x == #{activeFilter} %}
            +Tour()
            |   {% endif %}
            | {% endfor %}
        else
            +Tour()
        | {% endfor %}

//--/tours__list }}}
//-- PageLogic {{{
section.tours_list__wrap
    | {% assign purl = page.url %}
    | {% if purl == '/tours/'%}
    +ToursList()
    | {% else %}
    |  {% for tag in site.data.tags %}
    |   {% if purl == tag.url %}
    +ToursList('tag.tag')
    | {% break %}
    |   {% endif %}
    |  {% endfor %}
    |  {% for tag in site.data.tags %}
    |   {% if tag.sybtags %}
    |    {% for subtag in tag.subtags %}
    |     {% if purl == subtag.url %}
    +ToursList('subtag.subtag')
    |     {% endif %}
    |    {% endfor %}
    |   {% endif %}
    |  {% endfor %}
    | {% endif %}

//-- /PageLogic }}}
