//-- tour {{{
mixin Tour()
        li.tour__wrap
            a.tour__link(href='/tours/{{ tour.id }}')
                .tour__fixed
                    .tour__image__wrap
                        img.tour__image(src='/img/{{ tour.imgpath }}', alt='{{ tour.title }}')
                    h3.tour__title
                        | {{ tour.title }} 
                        br
                        | {{ tour.subtitle }} 
                    .tour__button
                        | Подробнее

                .tour__moving
                    p.tour__intro
                        | {{ tour.intro }}
                    p.tour__summary
                        | {{ tour.summary }}
                    .tour__date
                        | {{ tour.date }}
                    .tour__length
                        | {{ tour.length }}

//--/tour }}}
//-- tours__list {{{
mixin ToursList( activeFilter='' )
    ul.tours__list
        | {% for tt in site.tours %}
        | {% assign ttt = tt.id | remove: 'tours' | remove: '/' %}
        | {% assign tour = site.data.tours[ttt] %}
        if activeFilter
            | {% for x in tour.tags %}
            |   {% if x == #{activeFilter} %}
            +Tour()
            |   {% endif %}
            | {% endfor %}
        else
            +Tour()
        | {% endfor %}

//--/tours__list }}}
//-- PageLogic {{{
section.tours_list__wrap
    | {% assign purl = page.url %}
    | {% if purl == '/tours/'%}
    +ToursList()
    | {% else %}
    |  {% for tag in site.data.tags %}
    |   {% if purl == tag.url %}
    +ToursList('tag.tag')
    | {% break %}
    |   {% endif %}
    |  {% endfor %}
    |  {% for tag in site.data.tags %}
    |   {% if tag.sybtags %}
    |    {% for subtag in tag.subtags %}
    |     {% if purl == subtag.url %}
    +ToursList('subtag.subtag')
    |     {% endif %}
    |    {% endfor %}
    |   {% endif %}
    |  {% endfor %}
    | {% endif %}

//-- /PageLogic }}}
