section.tours_nav__wrap
    h2.section_header
        | Категории
    nav#tours_nav--primary.tours_nav
        | {% for tag in site.data.tags %}
        a.tours_nav__link(href='{{ tag.url }}', id='tag_toggle--{{ tag.tag }}')
            | {{ tag.title }}
        | {% endfor %}

    | {% for tag in site.data.tags %}
    | {% if tag.subtags %}
    nav.tours_nav.hidden(id='tours_nav--{{ tag.tag }}')
        a.tours_nav__link--back(href='{{ tag.url }}') 
            svg(viewbox='0 0 20 20')
                title назад
                path.tours_nav__link--back__svg(d='M2.5,10L9,3.5V7h8v6H9v3.5L2.5,10z')
        | {% for subtag in tag.subtags %}
        a.tours_nav__link(href='{{ subtag.url }}', id='tag_toggle--{{ subtag.subtag }}')
            | {{ subtag.title }}
        | {% endfor %}
    | {% endif %}
    | {% endfor %}


