include ../mixins.jade

mixin EventWrap()
    a.event__wrap(href='/tours/{{ tt.tour }}')
        .event__image__wrap
            img.event__image( sizes="(max-width: 619px) 1px, (min-width: 720px) and (max-width: 1079px) 37vw, (min-width: 1080px) and (max-width: 1158px) 24vw, 263px", srcset="/img/none.jpg 1w, /img/tours200/{{ tt.imgpath }} 200w, /img/tours300/{{ tt.imgpath }} 300w, /img/tours400/{{ tt.imgpath }} 400w", alt="{{ tt.title | smartify }}")
        .event__date
            | {% if tt.dates[0] | plus: 0 > 10 %} 
            +LiquidRussianDate('tt.dates[0]')
            | {% else %} по заказу {% endif %}

        h4.event__title
            | {{ tt.title }}.
            | {{ tt.subtitle }}
        footer.event__footer
            | Подробнее

section.upcoming_events__wrap
    h2.section_header
        | Ближайшие туры
    .upcoming_events__list
        | {% assign upcoming_counter = 0 %}
        | {% for x in site.data.upcoming%}
        |     {% assign tt = site.data.tours[x] %}
        |     {% if tt.dates[0] != 0 %}
        |         {% if upcoming_counter > 3 %}
        |             {% break %}
        |         {% else %}
        |             {% assign upcoming_counter = upcoming_counter | plus: 1 %}
        +EventWrap()
        |         {% endif %}
        |     {% endif %}
        | {% endfor %}
