include ../mixins.jade

mixin EventWrap()
    a.event__wrap(href='/tours/{{ tt.tourid }}')
        .event__image__wrap
            img.event__image(src='/img/tours400/{{ tt.imgpath }}', alt='{{ tt.title | smartify }}')
        .event__date
            | {% if tt.dates[0] | plus: 0 > 10 %} 
            +LiquidRussianDate('tt.dates[0]')
            | {% else %} по заказу {% endif %}

        h4.event__title
            | {{ tt.title }}.
            | {{ tt.subtitle }}
        footer.event__footer
            | Подробнее

section.upcoming_events__wrap
    h2.section_header
        | Ближайшие туры
    .upcoming_events__list
        | {% assign upcoming_counter = 0 %}
        | {% for x in site.data.upcoming%}
        |     {% assign tt = site.data.tours[x] %}
        |     {% if tt.dates[0] != 0 %}
        |         {% if upcoming_counter > 3 %}
        |             {% break %}
        |         {% else %}
        |             {% assign upcoming_counter = upcoming_counter | plus: 1 %}
        +EventWrap()
        |         {% endif %}
        |     {% endif %}
        | {% endfor %}
