section.upcoming_events__wrap
    h2.section_header
        | Ближайшие туры
    .upcoming_events__list
        | {% for tour in site.tours | limit: 4 %}
        |   {% assign t = tour.id | remove: 'tours' | remove: '/' %}
        |       {% assign tt = site.data.tours[t] %}
        a.event__wrap(href='/tours/{{ tt.tour }}')
            .event__image__wrap
                img.event__image(src='/img/{{ tt.imgpath }}', alt='{{ tt.title | smartify }}')
            .event__date
                    | {% assign unixdate = tt.dates[0] | round | minus:25569 | times:86400 %}
                    | {% assign m = unixdate | date: "%-m" %}
                    | {{ unixdate | date: "%-d" }}
                    | {% case m %} 
                    | {% when '1' %}января
                    | {% when '2' %}февраля
                    | {% when '3' %}марта
                    | {% when '4' %}апреля
                    | {% when '5' %}мая
                    | {% when '6' %}июня
                    | {% when '7' %}июля
                    | {% when '8' %}августа
                    | {% when '9' %}сентября
                    | {% when '10' %}октября
                    | {% when '11' %}ноября
                    | {% when '12' %}декабя
                    | {% endcase %} 
                    | {{ unixdate | date: "%Y" }}
            h4.event__title
                | {{ tt.title }}.
                | {{ tt.subtitle }}
            footer.event__footer
                | Подробнее
        | {% endfor %}
