include ../mixins.jade
section.upcoming_events__wrap
    h2.section_header
        | Ближайшие туры
    .upcoming_events__list
        | {% for x in site.data.upcoming %}
        |   {% assign t = x.key %}
        |       {% assign tt = site.data.tours[t] %}
        a.event__wrap(href='/tours/{{ tt.tour }}')
            .event__image__wrap
                img.event__image(src='/img/{{ tt.imgpath }}', alt='{{ tt.title | smartify }}')
            .event__date
                +LiquidRussianDate('tt.dates[0]')
            h4.event__title
                | {{ tt.title }}.
                | {{ tt.subtitle }}
            footer.event__footer
                | Подробнее
        | {% endfor %}
