include ../mixins.jade
include tour-mixins.jade

| {% if site.data.upcoming.size > 0 %}
section.upcoming_events__wrap
    h2.section_header
        | Ближайшие туры
    .upcoming_events__list
        | {% assign upcoming_counter = 0 %}
        | {% for x in site.data.upcoming %}
        |     {% assign tour = site.data.tours[x] %}
        |     {% if tour.dates[0] != 0 %}
        |         {% if upcoming_counter > 3 %}
        |             {% break %}
        |         {% else %}
        |             {% assign upcoming_counter = upcoming_counter | plus: 1 %}
        +TourCard('tour')
        |         {% endif %}
        |     {% endif %}
        | {% endfor %}
| {% endif %}
