include ../mixins.jade
section.vk_info
    h2.section_header
        | Мы Вконтакте
    a.vk_info__link(href='//vk.com/club33948424', target='_blank')
        h3.vk_info__link__title
            | ТурОбоз. Экскурсии по Перми и Пермскому краю
        .vk_info__link__icon
            +iconVK('vk_info__link__icon__svg')
