html,
body
    position relative
    line-height 1.5
    overflow-y visible
    overflow-x hidden
    width 100vw
    color textFG
    background white

.page_wrap
    width 100%
    min-height 100vh
    
h1, h2, h3, h4, h5, h6, p
    margin 0

img
    margin 0
    padding 0
    border none

ul
    margin 0
    padding 0
    list-style none

section
    width 100vw
input,
select,
textarea
    border-color beige
    border-radius 2px
    margin 1rem
    padding-right 0
    padding-left 1rem
    border-width 0
    border-style none

button 
    appearance none
    border none
