@require '../stylusfiles/vars.styl'

@keyframes form_button
    0%
        transform: scale(1)
    20%
        transform: scale(0.9)
    80%
        transform: scale(1.1)
    100%
        transform: scale(1)

// header-form {{{
.header-form__wrap
    position: absolute
    top: 100%
    right: 1%
    max-width: 98%
    z-index: 1002
    transition: transform 0.2s ease-out
    transform: rotateY(90deg)
    transform-origin: 100% 0

    &.is_open
        transform: rotateY(0)

.header-form__wrap
    background: $header_form_bg
    box-shadow: 0 0.25rem 1.25rem -0.25rem $shadowy
    border-radius: $border-radius

// /header-form }}}
// forms {{{
.form
.call-back-form
    display: flex
    justify-content: flex-start

.form
    flex-direction: column
    align-items: stretch
    max-width: 90%
    width: auto
    margin: 1rem auto 0
    padding: 0 5%

.call-back-form
    flex-direction: row
    flex-wrap: wrap

.form
.call-back-form
    border-radius: $border-radius
    background: white

// /forms }}}
// inputs {{{
input
textarea
    font-size: 1rem
    margin: 1rem
    padding: .4rem 0 .4rem .4rem
    border: none
    border-radius: $border-radius
    box-shadow: inset 0 0.1rem 0.6rem -0.1rem $shadowy
    background-color: white

textarea
    height: 4rem
    resize: none

.form__input_group
    margin: 0 0 .5rem
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: stretch

    @media (max-width: 551px)
        flex-direction: column

.form__label
    margin: 1.4rem
    margin-right: 0

.form__input
    flex-grow: 1
    margin-left: 1.4rem

.call-back-form__input
    order: 0
    flex: 0 0 calc(50% - 5.5rem)

@media(max-width: 626px)
    .call-back-form__name
        flex: 1 1 95%

    .call-back-form__phone
        flex-grow: 1

// /inputs }}}
// buttons {{{
button
    font-size: 1.1rem
    appearance none
    border none
    border-radius: $border-radius
    transition: transform 0.3s ease-out

.form__button
    width: 111%
    margin: 0 -5.5%
    padding: 1.2rem

.call-back-form__button
    order: 2
    flex: 1 0 100%
    margin: 0
    padding-top: 1.1rem
    padding-bottom: @padding-top

#call-back-form__cancel
    order: 1
    flex: 0 0 4rem
    padding-left: 0.8rem
    padding-right: 0.7rem
    martgin-right: 0

.form__button
.call-back-form__button
    background: white
    color: $turbo_blue

    &:hover
    &:focus
    &:active
        color: white

    &:hover
    &:focus
        background: $turbo_darkblue

    &:active
        background: $turbo_brown
        animation: form_button 0.3s ease-out forwards

.form__button--success
    animation: form_button 0.3s ease-out forwards
    background: hsl(120,90%,15%) !important

#call-back-form__cancel
    color: $turbo_cancel_active

    &:hover
    &:focus
        background: $turbo_cancel

    &:active
        background: $turbo_cancel_active

// /buttons }}}
