@require '../stylusfiles/vars.styl'
// form-action animation {{{
@keyframes form_button_submit
    0%
        transform: scale(1)
    20%
        transform: scale(0.9)
    80%
        transform: scale(1.1)
    100%
        transform: scale(1)

// /form-action animation }}}
// header form {{{
.header-form__wrap
    position: absolute
    top: 100%
    right: 0
    transform: rotateY(90deg)
    transform-origin: 100% 0
    transition: transform 0.2s ease-out
    z-index: 1002
    background: $header_form_bg
    box-shadow: 0 0.25rem 1.25rem -0.25rem $shadowy
    border-radius: $border-radius

    &.is_open
        transform: rotateY(0)

.call-back-form
    display: flex
    justify-content: flex-start
    flex-direction: row
    flex-wrap: wrap

.call-back-form__input
    order: 0
    flex: 0 0 calc(50% - 5.5rem)
    box-shadow: inset 0 0.1rem 0.6rem -0.1rem $shadowy

@media(max-width: 620px)
    .call-back-form__name
        flex: 1 1 100%

    .call-back-form__phone
        flex-grow: 1

.call-back-form__button
    margin: 0
    padding-top: 1.1rem
    padding-bottom: @padding-top
    background: white

#call-back-form__button
    order: 2
    flex: 1 0 100%
    color: $turbo_blue

    &:hover
    &:focus
        color: white
        background: $turbo_blue

    &:active
        color: @background
        background: $turbo_brown

#call-back-form__cancel
    order: 1
    flex: 0 0 4rem
    background: white
    color: $turbo_cancel_active
    border-radius: 0
    -webkit-appearance: none
    padding-left: 0.8rem
    padding-right: 0.7rem
    martgin-right: 0

    &:hover
    &:focus
        color: white
        background: $turbo_cancel

    &:active
        color: white
        background: $turbo_cancel_active

// /header form }}}
// forms {{{

.form
    max-width: 90%
    width: auto
    border-radius: $border-radius
    margin: 1rem auto 0
    background: white
    padding: 0 5%

.form__input_group
    margin: 0 0 .5rem
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: stretch

    @media (max-width: 551px)
        flex-direction: column

.form__label
    margin: 1.4rem
    margin-right: 0

.form__input
    flex-grow: 1
    margin-left: 1.4rem
    box-shadow: inset 0 0.1rem 0.6rem -0.1rem $shadowy
    border-radius: $border-radius
    background-color: white

.form__textarea
    height: 4rem

.hidden_field
    display: none

.form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch

// form-buttons {{{

.form__button
    width: 111%
    margin: 0 -5.5%
    padding: 1.2rem

.form__button
    appearance: none
    background: white
    color: $turbo_blue
    border-radius: $border-radius
    transition: transform 0.3s ease-out

    &:hover
    &:focus
        animation: form_button_submit 0.3s ease-out forwards
        background: $turbo_blue
        color: white

.form__button--success
.form__button--loading
.form__button--failure
    animation: form_button_submit 0.3s ease-out forwards

.form__button--success
    background: hsl(120,90%,15%) !important

.form__button--loading
    background: hsl(60,90%,45%) !important
    color: hsl(0,0,0) !important

.form__button--failure
    background: hsl(0,90%,20%) !important

// /form-buttons }}}
// /forms }}}
