html
    -ms-text-size-adjust: 100%

body
    margin: 0

footer
header
nav
section
    display: block

a
    background-color: transparent

    &:active
    &:hover
        outline-width: 0

strong
    font-weight: inherit
    font-weight: normal

h1
    font-size: 2em
    margin: 0.67em 0

img
    border-style: none
    pointer-events: none

svg:not(:root)
    overflow: hidden

button
input
textarea
    font: inherit
    margin: 0

button
input
    overflow: visible

button
  text-transform: none

button
[type="button"]
[type="submit"]
    -webkit-appearance: button

    ::-moz-focus-inner
        border-style: none
        padding: 0

    :-moz-focusring
        outline: 1px dotted ButtonText

textarea
    overflow: auto

::-webkit-input-placeholder
    color: inherit
    opacity: 0.54

