// vars {{{
// =========================================================================
$site_header_height = 6rem
$site_header_logo_width = 14rem
$site_header_logo_height = 5.25rem
$site_header_contacts_width = 13rem

$site_footer_height = 8rem
$site_footer_icon_width = 3rem

$modal_form_body_min_width = 18rem
$modal_form_body_width = 50vw


$the_font = Ubuntu, Arial, Helvetica, sans-serif
$body_fg = black
$body_bg = beige


$turbo_brown = hsl(23, 47%, 26%)
$turbo_darkbrown = hsl(23, 50%, 18%)
$turbo_blue = hsl(198, 53%, 43%)
$turbo_gray = hsl(30, 1%, 44%)
$shadowy = hsl(0, 0, 0, 0.4)

$section_header_fg = $turbo_brown

$site_nav_bg = white
$mobile_nav_bg = white
$site_nav_link_fg = $turbo_brown
$site_nav_link_bg = white
$site_nav_link_hover_fg = white
$site_nav_link_hover_bg = $turbo_blue

$main_heading_bg = hsla(0, 0%, 100%, 0.8)
$main_heading_fg = $turbo_darkbrown
$news_section_bg = hsl(198, 13%, 92%)
$news_section_fg = $turbo_darkbrown

$site_contacts_phone_fg = $turbo_brown
$site_contacts_modal_opener_bg = $turbo_brown
$site_contacts_modal_opener_fg = white

$site_footer_bg = $turbo_brown
$site_footer_fg  = white
$site_footer_icons_fg = white

$modal_form_bg = wheat
$modal_form_close_fg = maroon
$modal_form_button_bg = $turbo_blue
$modal_form_button_fg = white

// /vars }}}
// base {{{
// =========================================================================
body
    overflow-y: visible
    overflow-x: hidden
    width: 100vw
    height: auto

.page_wrap
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    color: $body_fg
    background: $body_bg

section
    margin: 0
    width: 100%

.page_heading
    flex: 0 0 100%

.section_header
    font-size: 1.6rem
    margin: 1rem 0
    text-align: center
    text-transform: uppercase
    color: $section_header_fg

h1
h2
h3
h4
h5
h6
    margin: 0

a
    color: $body_fg
    text-decoration: none

img
    margin: 0
    padding: 0
    border: none

ul
    margin: 0
    padding: 0
    list-style: none

input
select
textarea
    border-radius: 2px
    margin: 1rem
    padding-right: 0
    padding-left: 1rem
    border: none

button
    appearance none
    border none

// /base }}}
// typography {{{
// =========================================================================

html
body
    font-size: 18px
    font-family: $the_font
    font-weight: normal
    line-height: 1.5 

h1
h2
h3
h4
h5
h6
    font-weight: 100

p
li
a 
    font-size: 1rem

input
select
textarea
    font-size: 1.1rem

.phone
    font-size: 1.2rem

// /typography }}}
// site_header {{{
// =========================================================================
#site_header
    height: $site_header_height 
    flex: 0 0 @height
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    background: $site_nav_bg 
    box-shadow: 0 0 12px -4px $shadowy

// logo {{{
// ------------------------------------------------------------------------
#site_logo
    flex: 0 0 $site_header_logo_width
    height: $site_header_logo_height
    margin: ($site_header_height - $site_header_logo_height) * 0.5
    position: relative
    z-index: 1001
    color: transparent

#site_logo__icon
    position: absolute
    height: 100%
    width: 100%
    
// /logo }}}
// contacts_box {{{
// ------------------------------------------------------------------------
#site_contacts_wrap
    flex: 0 0 $site_header_contacts_width 
    position: relative
    height: $site_header_height - 1.5rem
    margin: 0.5rem 1.5rem 0.5rem 1rem
    z-index: 1001
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    align-content: space-between
    flex-wrap: wrap

.site_header__phone
.site_header__call_back
    flex: 0 0 2rem

.site_header__phone
    font-size: 1.2rem
    margin-bottom: .4rem
    color: $site_contacts_phone_fg

.site_header__call_back
    font-size: 0.875rem
    line-height: 2.3
    color: $site_contacts_modal_opener_fg
    background: $site_contacts_modal_opener_bg
    padding: 0 0.7rem
    border-radius: 2px

.site_header__vk_button
    height: 3rem
    width: @height
    flex: 0 0 @height
    fill: $turbo_blue

// /contacts_box }}}
// site_nav {{{
// ------------------------------------------------------------------------
.site_nav__link
    padding: 0.5rem
    white-space: nowrap
    color: $site_nav_link_fg
    background: $site_nav_link_bg
    transition: all 0.1s ease-in-out
    
    &.active
        color: $site_nav_link_bg
        background: $site_nav_link_fg

    &:hover
    &:focus
        color: $site_nav_link_hover_fg
        background: $site_nav_link_hover_bg

    &:hover
    &:focus
    &.active
        box-shadow: 0 1px 3px -1px $shadowy
        

// desktop_nav {{{
#desktop_nav 
    flex: 1 0 20rem
    height: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: stretch
    margin 0 1rem

    .site_nav__link
        padding-top: $site_header_height - 2.3rem


// /desktop_nav }}}
// mobile_nav {{{
#mobile_nav
    display: none
    position: absolute
    right: 0
    left: calc(100% - 300px)
    top: $site_header_height
    border-radius: 0 0 2px 2px
    z-index: 999
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    background: $mobile_nav_bg
    transform: translateY(-200%)
    will-change: transform
    transition: transform 0.5s ease-in-out
    box-shadow: 0 1px 14px -4px $shadowy

    .site_header__phone,
    .site_header__call_back
        width: 100%
        height: 3rem
        line-height: 3rem
        text-align: center
        margin: 0

    .site_header__phone
        margin-top: 2rem
        border-top: 1px solid $site_contacts_phone_fg

    .site_header__vk_button
        height: 2.8rem
        fill: white
        background: $turbo_blue
        padding: 0.1rem calc((300px - 2.8rem) * 0.5)

    .site_header__phone,
    .site_header__call_back,
    .site_header__vk_button
        display: none

    .site_nav__link
        width: 100%

        &:active
            width: 100%

    &.is_open
        transform: translateY(0)

// /mobile_nav }}}
// mobile_nav_toggle {{{
.mobile_nav_toggle__svg
    transition: all 0.5s ease-in-out
    fill: $turbo_brown

.mobile_nav_toggle__svg__top_bar
    transform-origin: 0 0

.mobile_nav_toggle__svg__mid_bar
    transform-origin: 50% 50%

.mobile_nav_toggle__svg__bot_bar
    transform-origin: 0 100%

#mobile_nav_toggle
    display: none
    position: relative
    flex: 0 0 3rem
    margin: 1.7rem 2rem
    order: 1
    z-index: 1001

    &.is_open
        .mobile_nav_toggle__svg__top_bar
            transform: translateX(10%) rotate(45deg)

        .mobile_nav_toggle__svg__mid_bar
            transform: rotateY(90deg)

        .mobile_nav_toggle__svg__bot_bar
            transform: translateX(10%) rotate(-45deg)

// /mobile_nav_toggle }}}
@media(max-width: 1090px)
    #desktop_nav
        display: none

    #mobile_nav_toggle
        display: block

    #mobile_nav
        display: flex


@media(max-width: 790px)
    #site_contacts_wrap
        display: none

    #mobile_nav
        .site_header__phone,
        .site_header__call_back,
        .site_header__vk_button
            display: block

@media(max-width: 410px)
    #site_logo
        flex 0 0 60vw
        
// /site_nav }}}
// /site_header }}}
// main {{{
// =========================================================================
// first_glance {{{
// ------------------------------------------------------------------------
.first_glance
    width: 100% 
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    align-content: flex-start
    flex-wrap: wrap

// heading {{{
.main__heading__section
    flex: 1 0 600px
    min-height: 420px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    background-image: url(/img/main_bg.jpg)
    background-size: 100% auto
    background-repeat: no-repeat

.main__heading__wrap
    flex: 0 1 36rem 
    background: $main_heading_bg
    margin: 2rem

.main__heading
    color: $main_heading_fg
    font-size: 1.6rem
    padding: 2rem 3rem
    

// /heading }}}
// news {{{
.news__section
    flex: 0 0 350px
    background: $news_section_bg

    .section_header
        font-size: 1.4rem

.news__list
    margin: 0 1rem 1rem

.news__list__item
    margin: 0 0 1rem

.news__list__item__link
    color: $news_section_fg

// /news }}}

// /first_glance }}}
// blog {{{
// ------------------------------------------------------------------------

// /blog }}}
// /main }}}
// about {{{
// =========================================================================

// /about }}}
// tours {{{
// =========================================================================
.tours__wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    flex-wrap: nowrap

.tours_nav__wrap
    flex: 0 0 350px
    position: relative
    background: white

.tours_nav
    position: absolute
    top: 5rem
    right: 0
    width: auto
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    z-index: 500
    transition: all 0.4s ease-in-out
    will-change: transform
    overflow: hidden
    transform: translateX(20%)
    background: white

    &.pushed_aside 
        transform: translateX(-50%)

    &.hidden 
        z-index: 600
        transform: translateX(-205%)

#tours_nav--primary
    left: 0
    transform: translateX(0)

.tours_nav__link
    text-align: right
    padding: 1rem 1.5rem
    text-transform: uppercase
    background: white
    color: $turbo_darkbrown

    &:hover
        background: $turbo_blue
        color: white

    &:active
    &.active
        background: $turbo_brown
        color: white

.tours_nav__link--back
    align-self: center
    height: 4rem
    width: @height
    margin: 1rem

// /tours }}}
// services {{{
// =========================================================================

// /services }}}
// contact {{{
// =========================================================================
section.c__phones,
section.c__address
    width: 50%

// /contact }}}
// testimonials {{{
// =========================================================================
.testimonial__quote
    margin-bottom: 2rem

.testimonial__quote__footer
    margin-top: 0.5rem
    text-align: right

.testimonial__name
    font-size: 1.2rem
    font-style: italic

    &:before
        content: '— '

.testimonial__date
    font-style: italic


// /testimonials }}}
// footer {{{
// =========================================================================
#site_footer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    flex-wrap: wrap
    background: $site_footer_bg 
    color: $site_footer_fg 

.f__contact,
.f__corner_box
    margin: 1rem 
    flex 1 0 13.5rem

.f__contact
    text-align: center
    margin: 1rem 0.5rem
    color: $site_footer_fg 
    fill: @color

    &:hover,
    &:focus
        color: $turbo_blue
        fill: @color

.f__contact_icon
    height: $site_footer_icon_width
    width: @height
    margin: 0 auto 1rem

.f__corner_box
    text-align: right

#f__developer,
#f__developer__link
    font-size: 0.7rem 

#f__developer__link
    color: $turbo_blue

// /footer }}}
// forms {{{
// =========================================================================
.modal_form__form
.section_form__form
    width: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-bottom: 2rem

.section_form__field
.section_form__large_field
.modal_form__field
.modal_form__large_field
    width: 100%
    padding: 0
    margin: 0
    
.section_form__large_field
.modal_form__large_field
    height: 5rem

.section_form__button
.modal_form__button
    height: 3rem
    margin-top: 1.5rem
    border-radius: 4px
    background: $modal_form_button_bg
    color: $modal_form_button_fg

// modal_forms {{{
// -------------------------------------------------------------------------
.modal_form__wrap
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: hsla(0,0,0,0.5)
    transform: translateX(-100%)
    z-index: 2000

    &.is_open
        transform: translateX(0)

.modal_form__body
    min-width: $modal_form_body_min_width
    width: $modal_form_body_width
    margin: 2rem auto
    border-radius: 4px
    background: $modal_form_bg
    
.modal_form__header
    position: relative
    text-align: center
    font-size: 1.3rem
    height: 3em

.modal_form__close
    position: absolute
    right: 0
    top: 0
    font-size: 2rem
    line-height: 1
    padding: 0.5rem
    color: $modal_form_close_fg

.modal_form__input_group, 
.modal_form__button
    width: 90%
    margin: 0.5rem auto

// /modal_forms }}}
// section_forms {{{
// -------------------------------------------------------------------------
.section_form__input_group, 
.section_form__button
    width: 100%
    margin: 0.5rem auto


// /section_forms }}}
// /forms }}}
