// mixins {{{
AltBG()
    //--{{{
    background-image: url(/img/card.png) 
    background-color: $turbo_lightblue
    background-repeat: repeat 
    background-blend-mode: soft-light
    //--}}}

SectionWidth()
    //--{{{
    width: 85vw
    max-width: 56.25rem
    min-width: 31.25rem
    margin: 1rem auto

    @media(max-width: 660px)
        width: 92vw
        max-width: @width
        min-width: 0

    @media(max-width: 480px)
        max-width: @width
    //--}}}

Bullets()
    //--{{{
    margin: 0 1rem 1rem 2rem
    position: relative
    &:before
        content: ''
        display: block
        position: absolute
        left: -1.3rem
        top: 25%
        bottom: 75%
        right: calc(100% + 0.6rem)
        background: transparent
        border-top: 0.32rem solid transparent 
        border-bottom: 0.32rem solid transparent 
        border-left: 0.5rem solid $turbo_mixblue
        transition: all 0.2s ease-in-out
        transform: translateX(10%)
    &:hover:before
    &:focus:before
        border-left: 0.5rem solid $turbo_darkblue
        transform: translateX(0%)
    //--}}}

textLink(Color=$turbo_blue, Flag=false) 
    //--{{{
    color: Color
    line-height: 1
    text-decoration: underline

    unless Flag==nohover
        &:hover
        &:focus
            color: $turbo_brown
    //--}}}

// /mixins }}}
// vars {{{
// =========================================================================
$site_header_height = 6rem
$site_header_logo_width = 14rem
$site_header_logo_height = 5.25rem
$site_header_contacts_width = 13rem
$header_form_field_width = 17rem

$tours_nav_header_height = 4.2rem
$tours_nav_header_padding = 1rem
$tours_nav_header_margin = -1rem
$tours_nav_link_height = 1.5rem
$tours_nav_link_padding_h = 1.5rem
$tours_nav_link_padding_v = 1rem
$tours_nav_min-height = $tours_nav_header_height + $tours_nav_header_margin * 2 + $tours_nav_header_padding * 2 + 8 * ($tours_nav_link_height + $tours_nav_link_padding_v * 2)

$tour_card_width = 18rem
$tour_card_height = 25rem

$site_footer_height = 8rem
$site_footer_icon_width = 3rem
$page_wrap_min-height = $tours_nav_min-height + $site_header_height + $site_footer_height


$border-radius = 0.125rem
$border = 0.063rem solid $turbo_lightblue

$the_font = Ubuntu, Arial, Helvetica, sans-serif


$turbo_cancel = hsl(0, 53%, 42%)
$turbo_cancel_active = hsl(0, 53%, 33%)
$turbo_brown = hsl(23, 47%, 26%)
$turbo_darkbrown = hsl(23, 50%, 18%)
$turbo_darkblue = hsl(198, 53%, 32%)
$turbo_blue = hsl(198, 53%, 43%)
$turbo_lightblue = hsl(198, 53%, 75%)
$turbo_verylightblue = hsl(198, 13%, 92%)
$turbo_mixblue = mix($turbo_lightblue, $turbo_blue) 
$turbo_gray = hsl(30, 1%, 44%)
$shadowy = hsl(0, 0, 20%, 0.4)
$body_fg = $turbo_darkbrown
$body_bg = ivory

$site_nav_bg = hsl(0, 0, 94%)
$mobile_nav_bg = white
$site_nav_link_fg = $turbo_brown
$site_nav_link_hover_fg = white
$site_nav_link_hover_bg = $turbo_blue
$header_form_bg = white

$main_heading_bg = hsla(0, 0%, 100%, 0.8)

$site_contacts_phone_fg = $turbo_brown
$site_contacts_modal_opener_bg = $turbo_brown
$site_contacts_modal_opener_fg = white

$site_footer_bg = $turbo_brown
$site_footer_fg  = white
$site_footer_icons_fg = white

$modal_form_bg = wheat
$modal_form_close_fg = maroon
$modal_form_button_bg = $turbo_blue
$modal_form_button_fg = white

// keyframes {{{
// page_effects keyframes {{{
@keyframes slideInLeft
    0%
        transform: translateX(100%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1

@keyframes slideInRight
    0%
        transform: translateX(-100%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1

@keyframes slideInUp
    0%
        transform: translateY(100%)
        opacity: 0
    100%
        transform: translateY(0%)
        opacity: 1

// /page_effects keyframes }}}
// logo_effects keyframes {{{
@keyframes logo_animate_gray
    0%
        transform: rotate(0deg) scale(1)
    25%
        transform: rotate(180deg) scale(1.01)
    50%
        transform: rotate(359deg) scale(1)
    75%
        transform: rotate(540deg) scale(1.01)
    100%
        transform: rotate(720deg) scale(1)
        fill: darken($turbo_gray, 30%)

@keyframes logo_animate_blue
    0%
        fill: $turbo_blue
    25%
        fill: $turbo_darkbrown
    50%
        fill: $turbo_blue
    75%
        fill: $turbo_darkbrown
    100%
        fill: $turbo_blue

@keyframes logo_animate_blue_2
    0%
        fill: $turbo_blue
    17%
        fill: $turbo_darkblue
    33%
        fill: $turbo_darkbrown
    50%
        fill: $turbo_brown
    67%
        fill: $turbo_darkbrown
    84%
        fill: $turbo_darkblue
    100%
        fill: $turbo_blue

@keyframes logo_animate_brown
    0%
        fill: $turbo_brown
    25%
        fill: $turbo_darkblue
    50%
        fill: $turbo_brown
    75%
        fill: $turbo_darkblue
    100%
        fill: $turbo_brown

@keyframes logo_animate_brown_2
    0%
        fill: $turbo_brown
    17%
        fill: $turbo_darkbrown
    33%
        fill: $turbo_darkblue
    50%
        fill: $turbo_blue
    67%
        fill: $turbo_darkblue
    84%
        fill: $turbo_darkbrown
    100%
        fill: $turbo_brown

@keyframes form_button_submit
    0%
        transform: scale(0)
    80%
        transform: scale(1.1)
    100%
        transform: scale(1)
// /logo_effects keyframes }}}
// /keyframes }}}
// /vars }}}
// base {{{
// =========================================================================
html
body
    width: 100vw
    max-width: 100vw
    overflow-x: hidden

body
    overflow-y: visible
    overflow-x: hidden
    height: auto

section
    margin: 0
    width: 100%

h1
h2
h3
h4
h5
h6
    margin: 0

a
    color: $body_fg
    text-decoration: none

img
    margin: 0
    padding: 0
    border: none

ul
    margin: 0
    padding: 0
    list-style: none

input
select
textarea
    border-radius: 0.125rem
    border-radius: $border-radius
    margin: 1rem
    padding-right: 0
    padding-left: 1rem
    border: none

textarea
    resize: none

button
    appearance none
    border none
    border-radius: 0.125rem
    border-radius: $border-radius

// typography {{{
// ------------------------------------------------------------------------
html
body
    font-size: 16px
    font-family: $the_font
    font-weight: 300
    line-height: 1.5 

h1
h2
h3
h4
h5
h6
    font-weight: 100

th
    font-weight: 300

p
li
a 
    font-size: 1rem

input
select
textarea
    font-size: 1rem

.phone
    font-size: 1.1rem

// /typography }}}
// /base }}}
// site_header {{{
// =========================================================================
#site_header
    height: $site_header_height 
    flex: 0 0 @height
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    background-image: url(/img/noise.png) 
    background-blend-mode: lighten
    background-color: $site_nav_bg 
    background-repeat: repeat
    box-shadow: 0 0 0.75rem -0.25rem $shadowy
    border-bottom: 0.063rem solid $turbo_lightblue
    z-index: 700

// logo {{{
// ------------------------------------------------------------------------
#site_logo
    flex: 0 0 $site_header_logo_width
    height: $site_header_logo_height
    margin: ($site_header_height - $site_header_logo_height) * 0.5
    position: relative
    z-index: 1001
    color: transparent

    .logo_gray
        fill: $turbo_gray

    .logo_brown
        fill: $turbo_brown

    .logo_blue
        fill: $turbo_blue

#site_logo
    &:hover
    &:focus
        outline: none !important
        .logo_gray
        .logo_brown
        .logo_blue
            animation-duration: 1s
            animation-timing-function: ease-out
            animation-iteration-count: infinite

        .logo_gray
            transform-origin: 1.52rem 1.50rem
            animation-name: logo_animate_gray
        .logo_brown
            animation-name: logo_animate_brown
        .logo_blue
            animation-name: logo_animate_blue

#site_logo__icon
    position: absolute
    height: 100%
    width: 100%
    
// /logo }}}
// contacts_box {{{
// ------------------------------------------------------------------------
#site_contacts_wrap
    flex: 0 0 $site_header_contacts_width 
    position: relative
    height: $site_header_height - 1.5rem
    margin: 0.5rem 1.5rem 0.5rem 1rem
    z-index: 1001
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    align-content: space-between
    flex-wrap: wrap

.site_header__phone
.site_header__call_back
    flex: 0 0 2rem

.site_header__phone
    font-size: 1.1rem
    margin-bottom: .4rem
    color: $site_contacts_phone_fg

.site_header__vk_button
    height: 3rem
    width: @height
    flex: 0 0 @height
    fill: $turbo_blue
    margin-left: 1rem

.site_header__call_back
    font-size: 0.9rem
    line-height: 2.3
    color: $site_contacts_modal_opener_fg
    background: $site_contacts_modal_opener_bg
    padding: 0 0.7rem
    border-radius: 0.125rem
    border-radius: $border-radius
    transition: all 0.2s ease-in-out

    &:hover
    &:focus
        color: $site_nav_link_hover_fg
        background: $site_nav_link_hover_bg

    &:active
        color: $site_nav_link_hover_fg
        background: $site_nav_link_fg

    &.is_open
        color: white
        background: $site_nav_link_hover_bg
        opacity: .4

// /contacts_box }}}
// header_form {{{
// ------------------------------------------------------------------------
.header_form__wrap
    position: absolute
    top: 100%
    right: 0
    transform: rotateY(90deg) 
    transform-origin: 100% 0
    transition: transform 0.2s ease-out
    z-index: 1002
    background: $header_form_bg
    box-shadow: 0 0.25rem 0.75rem -0.325rem $shadowy
    border: $border
    border-radius: 0.1875rem
    border-radius: $border-radius * 1.5

    &.is_open
        transform: rotateY(0)

    #call_back_form
        justify-content: flex-start
        flex-direction: row
        flex-wrap: wrap
        max-width: $header_form_field_width * 2 + 2rem + 6rem
        margin-right: -1rem

    #call_back_form__name
    #call_back_form__phone
        order: 0
        flex: 2 2 $header_form_field_width

    #call_back_form__button
        order: 2
        flex: 4 4  $header_form_field_width * 2
        margin: 0

        &:hover
        &:focus
            color: white
            background: $turbo_blue
        &:active
            color: @background
            background: $turbo_brown

    #call_back_form__cancel_button
        order: 1
        flex: 1 0 3rem
        background: white
        color: $turbo_blue
        border-left: $border
        border-radius: 0
        -webkit-appearance: none
        margin: 0 
        padding: 1.1rem 2rem 1.1rem 1rem

        &:hover
        &:focus
            color: white
            background: $turbo_cancel
        &:active
            color: white
            background: $turbo_cancel_active

        @media(max-width: 648px)
            border: none


// /header_form }}}
// site_nav {{{
// ------------------------------------------------------------------------
.site_nav__link
    padding: 0.5rem
    white-space: nowrap
    color: $site_nav_link_fg
    transition: all 0.1s ease-in-out
    
    &.active
        color: white
        background: $site_nav_link_fg

    &:hover
    &:focus
        color: $site_nav_link_hover_fg
        background: $site_nav_link_hover_bg
        

// desktop_nav {{{
#desktop_nav 
    flex: 1 0 20rem
    height: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: stretch
    margin 0 1rem

    .site_nav__link
        padding-top: $site_header_height - 2.3rem


// /desktop_nav }}}
// mobile_nav {{{
#mobile_nav
    display: none
    position: absolute
    right: 0
    left: calc(100% - 18.75rem)
    top: $site_header_height
    border-radius: 0 0 $border-radius $border-radius
    z-index: 999
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    background: $mobile_nav_bg
    transform: rotateY(90deg)
    transform-origin: 100% 0
    will-change: transform
    transition: transform 0.2s ease-out
    box-shadow: 0 0.063rem 0.875rem -0.25rem $shadowy

    .site_header__phone,
    .site_header__call_back
        width: 100%
        height: 3rem
        min-height: 3rem
        line-height: 3rem
        text-align: center
        margin: 0

    .site_header__phone
        margin-top: 2rem
        border-top: 0.063rem solid $site_contacts_phone_fg

    .site_header__vk_button
        height: 2.8rem
        fill: white
        background: $turbo_blue
        padding: 0.1rem 7.975rem

    .site_header__phone,
    .site_header__call_back,
    .site_header__vk_button
        display: none

    .site_nav__link
        width: 100%

        &:active
            width: 100%

    &.is_open
        transform: rotateY(0)

// /mobile_nav }}}
// mobile_nav_toggle {{{
.mobile_nav_toggle__svg
    transition: all 0.3s ease-out
    fill: $turbo_brown

.mobile_nav_toggle__svg__top_bar
    transform-origin: 0 0

.mobile_nav_toggle__svg__mid_bar
    transform-origin: 50% 50%

.mobile_nav_toggle__svg__bot_bar
    transform-origin: 0 100%

#mobile_nav_toggle
    display: none
    position: relative
    flex: 0 0 3rem
    padding: 1.7rem 2rem
    order: 1
    z-index: 1001

    &.is_open
        .mobile_nav_toggle__svg__top_bar
            transform: translateX(10%) rotate(45deg)

        .mobile_nav_toggle__svg__mid_bar
            transform: rotateY(90deg)

        .mobile_nav_toggle__svg__bot_bar
            transform: translateX(10%) rotate(-45deg)

// /mobile_nav_toggle }}}
@media(max-width: 964px)
    #desktop_nav
        display: none

    #mobile_nav_toggle
        display: block

    #mobile_nav
        display: flex


@media(max-width: 600px)
    #site_contacts_wrap
        display: none

    #mobile_nav
        .site_header__phone,
        .site_header__call_back,
        .site_header__vk_button
            display: block

    .site_header__vk_button
        margin-left: 0

@media(max-width: 349px)
    #site_logo
        flex 0 0 60vw
        
// /site_nav }}}
// /site_header }}}
// site_footer {{{
// =========================================================================
#site_footer
    order: 2
    display: flex
    position: relative
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    flex-wrap: wrap
    background-image: url(/img/blue.png) 
    background-repeat: repeat 
    background-blend-mode: color-dodge
    background-color: $site_footer_bg 
    color: $site_footer_fg 
    margin-top: 2rem
    box-shadow: 0 0 0.75rem -0.063rem $shadowy 
    z-index: 700

.f__contact,
.f__corner_box
    margin: 1rem 
    flex 1 0 13.5rem

.f__contact
    text-align: center
    margin: 1rem 0.5rem
    color: $site_footer_fg 
    fill: @color

    &:hover,
    &:focus
        color: $turbo_blue
        fill: @color

.f__contact_icon
    height: $site_footer_icon_width
    width: @height
    margin: 0 auto 1rem

.f__corner_box
    text-align: right
    padding-right: 1rem

#f__developer,
#f__developer__link
    font-size: 0.7rem 

#f__developer__link
    color: $turbo_blue

// /site_footer }}}
// site_wide {{{
// =========================================================================
.page_wrap
    min-height: $page_wrap_min-height
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    color: $body_fg
    background-image: url(/img/wall.png)
    background-repeat: repeat
    background-blend-mode: lightten
    background-color: $body_bg

    @media(min-height: $page_wrap_min-height)
        min-height: 100vh

.page_content_wrap
    height: auto
    flex: 1 0 1
    
.page_heading
.section_header
    font-size: 1.4rem
    position: relative
    z-index: 10
    margin: 0
    line-height: 1
    padding: 1em
    text-align: center
    text-transform: uppercase

.page_heading
    flex: 0 0 100%

    &--404
        line-height: 2


.s__payment_opts__wrap
.s__overview
.testimonials__wrap
.about__wrap
.contacts__wrap
.contact_form__wrap
.review_form__wrap
.guides__wrap
.full_tour__content__wrap
.full_post__content__wrap
.full_tour__form__wrap
    SectionWidth()

.tooltip
    position: absolute
    opacity: 0
    background: $turbo_blue
    border-radius: $border-radius
    color: white
    left: 0 
    right: 0
    margin: 0 auto
    padding: 1rem
    transition: all 0.2s ease-in

// forms {{{
// ------------------------------------------------------------------------
.form
    width: 90%
    border: $border
    border-radius: $border-radius
    margin: 1rem 0 
    background: white
    padding: 2% 5% 0


.form__field
    outline: $border
    border-radius: $border-radius
    background-color: $turbo_verylightblue

    .form__input_group &
        width: (100% - 2rem)
        margin: 0.5rem 0 1rem 

.form__field--large
    height: 7rem

.hidden_field
    display: nane

.form__input_label
    margin: 0 

.form__button--success
.form__button--loading
.form__button--failure
.form__button
    -webkit-appearance: none
    width: 111%
    margin: 2rem -5.5% 0
    padding: 1rem
    color: $turbo_blue
    border-radius: $border-radius
    outline: $border

.form__button--success
.form__button--loading
.form__button--failure
    transition: transform 0.1s ease-out
    animation: form_button_submit 0.3s ease-out forwards

.form__button--success
.form__button--failure
    animation-direction: normal

.form__button--loading
    transition: all 0.1s ease-out
    animation-direction: reverse

.form__button
    background: white

    .form:hover &
    .form:focus &
        background: $turbo_blue
        color: white

.form__button--success
    background: hsl(120,90%,15%) !important

.form__button--loading
    background: hsl(60,90%,45%) !important
    color: hsl(0,0,0) !important

.form__button--failure
    background: hsl(0,90%,20%) !important

// /forms }}}
// page_effects {{{
//.page_content_wrap
//    animation-duration: 0.25s
//    transition-timing-function: ease-out
//    animation-fill-mode: both
//    animation-name: slideInRight
//
//    .is_exiting &
//        animation-direction: alternate-reverse
//
//.page_content_wrap--
//    &main
//        animation-name: slideInUp
//
//    &page
//        animation-name: slideInRight
//
//    &tours
//        animation-name: slideInLeft
//
//    &post
//    &tour
//        animation-name: slideInLeft
//
// /page_effects }}}
// /site_wide }}}
// main {{{
// =========================================================================
// first_glance {{{
// ------------------------------------------------------------------------
.first_glance
    width: 100% 
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    align-content: flex-start
    flex-wrap: wrap

// heading {{{
.main__heading__section
    flex: 5 2 34rem
    min-height: 25rem
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    background-image: url(/img/main_bg.jpg)
    background-size: cover
    background-position: 80% 0%
    background-repeat: no-repeat

.main__heading__wrap
    flex: 0 2 38rem 
    background: $main_heading_bg
    margin: 2rem

.main__heading
    font-size: 1.6rem
    padding: 2rem 3rem 3rem

    @media(max-width: 739px)
        font-size: 1.4rem
    

// /heading }}}
// news {{{
.news__section
    flex: 1 0 19rem
    box-shadow: inset 0 -0.188rem 0.75rem -0.375rem $shadowy
    AltBG()

    .section_header
        font-size: 1.4rem


.news__list__item
    margin: 0 0 1rem
    Bullets()

.news__list__item__link
    color: $body_fg

// /news }}}

// /first_glance }}}
// upcoming_events {{{
// ------------------------------------------------------------------------
.upcoming_events__wrap
    width: 95vw
    max-width: 68.75rem
    margin: 1rem auto

.upcoming_events__list
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-items: stretch

@media(max-width: 1239px)
    .upcoming_events__wrap
        width: 38rem
        max-width: 38rem

    .upcoming_events__list
        flex-wrap: wrap

@media(max-width: 564px)
    .upcoming_events__wrap
        width: 16rem
        max-width: 16rem

// /upcoming_events }}}


.post__date
    text-align: right

.post__date
.tour__date
    flex: 0 0 2.25rem
    font-size: 0.9rem
    line-height: 2.25rem
    color: $turbo_darkblue
    padding: 0 1rem

.tour__link
.post__footer
    flex 0 0 2.5rem
    padding-left: 1rem
    border-radius: 0
    line-height: 2.5rem
    text-transform: uppercase
    outline: $border
    color: $turbo_darkblue
    background: white

.post__footer
    transition: all 0.2s ease

.post__footer
    .post__wrap:hover &
    .post__wrap:focus &
    .post__wrap:active &
        color: white
        background: $turbo_blue
    .post__wrap:active &
        background: $turbo_brown

.tour__link
    .tour__wrap:hover &
    .tour__wrap:focus &
        color: white
        background: $turbo_blue

        &:hover
        &:focus
            background: $turbo_darkblue
        &:active
            background: $turbo_brown

// blog {{{
// ------------------------------------------------------------------------
.posts__wrap
    width: 95vw
    max-width: 1100px
    margin: 1rem auto

.posts__list
.post__wrap
    width: 100%

.post__wrap
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-items: stretch
    border: $border
    border-radius: $border-radius
    margin: 1rem 0 1rem
    position: relative
    z-index: 20
    background: white

    &:hover
    &:focus
        z-index: 29

.post__image__wrap
    overflow: hidden
    flex 1 1 21.875rem
    line-height: 0

    @media(max-width: 659px)
        display: none

.post__image
    width: auto
    height: auto
    object-fit: cover

    @media(max-width: 960px)
        min-height: 100%

.post__content__wrap
    flex 1 1 70%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: stretch

.post__title
    flex 1 1 3rem
    padding: 1rem 0.7rem
    font-size: 1.2rem

.post__summary
    padding: 0 1rem 1rem 
    font-size: 1rem

// /blog }}}


// /main }}}
// about {{{
// =========================================================================
.about_info
    margin-top: 0

.guides
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    flex-wrap: nowrap

    @media(max-width: 720px)
        flex-wrap: wrap

.guide
    display: flex
    flex: 0 1 25rem
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    margin: 0.5rem
    padding: 1rem
    border: $border
    border-radius: $border-radius
    background: white
    max-width: 25rem
    min-width: 0

.guide__img__wrap
    overflow: hidden
    flex: 0 2 20rem
    margin: -1rem -1rem 1rem

.guide__name
    flex: 0 1 2.4rem
    font-size: 1.2rem
    line-height: 2.4rem

.guide__resume
    flex: 0 2 14rem
    padding: 0 0.6rem

.guide__resume_p
    margin: 1rem

.guide__img
    width: 100%
    height: 100%

.guide__link__wrap
    flex: 0 0 1rem
    margin: 0 -1rem
    padding: 1rem
    border-top: $border
    text-align: center

.guide__link__wrap--page
    margin-bottom: -1rem
    border-radius: 0 0 $border-radius $border-radius

.guide__link
    line-height: 1rem
    margin: 0rem
    padding: 0
    color: $turbo_blue

.advantages__list
    background: white
    border-radius: $border-radius
    border: $border
    padding: 3rem 2rem

    @media(max-width: 500px)
        padding: 0.5rem

.advantage
    Bullets()

// /about }}}
//// tours {{{
//// =========================================================================


.tours__wrap
    width: 100%
    display: flex
    justify-content: space-between
    min-height: $tours_nav_min-height


//// tours_nav {{{
//// ------------------------------------------------------------------------
.tours_nav__wrap
    flex: 0 1 25vw
    min-width: 15rem
    margin-bottom: -2rem
    background-image: url(/img/card.png) 
    background-blend-mode: lighten
    background-repeat: repeat 
    background-color: snow
    box-shadow: 0 0 0.75rem -0.25rem $shadowy

.tours_nav__section_header
    color: $turbo_brown

.tours_nav
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 0.5rem 0 

.tours_nav__link
    text-align: right
    text-transform: uppercase
    line-height: 1
    padding: 1em 12%

    &:hover
    &:focus
        background: $turbo_blue

    &:active
    &.active
        background: $turbo_brown

    &:hover
    &:focus
    &:active
    &.active
        color: white

    &.active
        z-index: 500

.tours_nav__link--subtag
    padding-right: 18%
    background-color: $turbo_lightblue
    display: none

    &.visible
        display: block

.tours_nav__link--subtag--last
    padding-bottom: 1.5em

//// /tours_nav }}}

//// tours_list {{{
//// ------------------------------------------------------------------------
.tours_list__wrap
    flex: 0 1 75vw
    position: relative

.tours_list
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: stretch
    align-content: flex-start
    margin: 1.5rem 1.5rem

.tour__wrap
    flex: 0 0 285px
    position: relative
    margin: 0 0.5rem 2.5rem

.tour__image__wrap
    max-width: 285px
    max-height: 214px
    overflow: hidden

.tour__image
    width: 103.1%
    max-width: 300px
    transition: all .5s ease-out
    transform-origin: 0 0
    transform: scale(0.97, 0.97)
    .tour__wrap:hover &
        transform: scale(1, 1)


.tour__title
    padding: 0.6rem
    flex: 1 1 6rem

.tour__card
    display: flex
    flex-direction: column
    justify-content: space-between
    background: white
    border: $border
    border-radius: $border-radius

.tour__length
    display: inline
    text-align: right
    font-size: 0.9rem
    line-height: 2.25rem
    margin-top: -2.25rem
    color: $turbo_darkblue
    padding: 0 1rem

//// /tours_list }}}

.tours__count
    position: absolute
    right: 1.6rem
    top: 2rem
    color: $turbo_blue

//// tours media {{{
//// ------------------------------------------------------------------------
@media(max-width: 1139px)
    .tours_nav
        margin-top: 2.5rem

    .tours_list
        margin-top: 3.5rem

    .tours__count
        top: 4rem

@media(max-width: 899px)
    .tours__wrap
        display: block

    .tours_nav__wrap
        margin-bottom: 0
        padding-bottom: 1rem

    .tours_nav
        margin-top: 0

    .tours_nav__link
        text-align: center

@media(max-width: 659px) and (min-width: 565px)
    .tour__wrap
        flex: 0 0 15rem

    .tour__image__wrap
        width: 100%
        min-width: 100%
        max-width: 100%

@media(max-width: 659px)
    .tour__title
        font-size: 1.1rem

    .tour__length
        color: $turbo_brown

@media(max-width: 449px)
    .tour__wrap
        flex-grow: 1
        margin-bottom: 1rem

    .tour__image__wrap
    .tour__image
        display: none

//// /tours media }}}
//// /tours }}}
// full_tour/post {{{
// =========================================================================
.full_tour__heading
.full_post__heading
    padding: 1.64rem 10vw 40vh
    margin-bottom: -35vh
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    align-items: baseline
    AltBG()

    @media(max-width: 700px)
        flex-direction: column
        justify-content: space-between
        flex-wrap: nowrap
        align-items: stretch

.full_tour__heading__left
.full_post__heading__left
    flex: 2 1 65%

    @media(max-width: 700px)
        margin-bottom: 1rem

.full_tour__heading__right
.full_post__heading__right
    flex: 1 2 35%

.full_tour__breadcrumbs
.full_post__breadcrumbs
.full_post__breadcrumbs--bottom
    flex: 0 0 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap

.full_tour__breadcrumbs
.full_post__breadcrumbs
    margin: -1rem -5vw 1rem

.full_post__breadcrumbs--bottom
    justify-content: space-around

.full_tour__breadcrumb
.full_post__breadcrumb
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    margin: 0 0.5rem

.full_tour__breadcrumb__label
.full_post__breadcrumb__label
    textLink($turbo_blue, nohover)
    white-space: nowrap
    padding: 0.75rem 0

    @media(max-width: 500px)
        font-size: 0.8rem
    

.full_tour__breadcrumb--top
    order:-1
    margin-right: 1.5rem

.full_tour__breadcrumb--subtag
    order:2
    margin-left: 1.5rem
    margin-right: -1rem

.full_tour__breadcrumb__icon
.full_post__breadcrumb__icon
    flex: 0 0 3rem
    display: block
    width: 3rem
    height: @width

.full_tour__breadcrumb__icon__svg
.full_post__breadcrumb__icon__svg
    fill: $turbo_blue

.full_tour__breadcrumb
.full_post__breadcrumb
    transition: all 0.3s ease-in-out
    &:hover
    &:focus 
        .full_tour__breadcrumb__icon__svg
            fill: $turbo_brown

        .full_tour__breadcrumb__label
            textLink($turbo_brown, nohover)

.full_tour__date
.full_post__date
    color: $turbo_darkblue

.full_tour__title
.full_post__title
    font-size: 2rem
    line-height: 1.3

.full_tour__subtitle
    font-size: 1.6rem
    line-height: 1.6

@media(max-width: 500px)
    .full_tour__title
    .full_post__title
        font-size: 1.4rem

    .full_tour__subtitle
        font-size: 1.2rem

.full_tour__subtitle
.full_tour__date
.full_post__date
    margin-left: 1rem

.full_tour__len
    font-size: 1.1rem

    &:before
        content:"Продолжительность:"
        color: $turbo_darkblue
        font-size: 1rem
        display: block

.full_tour__prices
    font-size: 1.1rem
    align-self: flex-end

.full_tour__prices
    &:before
        content:"Стоимость:"
        color: $turbo_darkblue
        font-size: 1rem
        display: block

.full_tour__prices
.full_tour__len
    text-align: right
    margin-right: 1rem

    @media(max-width: 700px)
        text-align: center

.full_tour__price
    white-space: nowrap

.full_tour__content__wrap
.full_post__content__wrap
    background-color: white
    border: $border
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: stretch

.full_tour__intro__wrap
.full_tour__blueprint__wrap
.full_tour__includes__wrap
.full_tour__additional_fees__wrap
.full_tour__will_learn__wrap
.full_tour__details__wrap
.full_post__summary
.full_post__body
    margin-top: -3rem
    padding: 1.75rem 2.75rem
    width: auto

    @media(max-width: 660px)
        padding 0.75rem 1.75rem

.full_post__summary
    margin-top: 0

.full_tour__intro__wrap
.full_tour__details__wrap
.full_tour__blueprint__wrap
    flex: 1 1 100%

.full_tour__includes__wrap
.full_tour__additional_fees__wrap
.full_tour__will_learn__wrap
    flex: 1 1 35%

.full_tour__intro__wrap
    display: block
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    margin-top: 0

    @media(max-width: 700px)
        display: flex


.full_tour__blueprint__list__item
.full_tour__includes__list__item
.full_tour__additional_fees__list__item
.full_tour__will_learn__list__item
    Bullets()

.full_post__body
    width: 100%

.full_post__image
.full_tour__image
    width: 100%
    height: 100%
    object-fit: contain
    border-radius: $border-radius

.full_tour__intro
    order: -1

.full_post__image__wrap
.full_tour__image__wrap
    float: right
    margin: 1rem 0 1rem 1rem
    width: 50%
    max-height: auto
    max-width: 25rem
    overflow: hidden

    @media(max-width: 700px)
        width: 45%

    @media(max-width: 600px)
        width: 100%
        margin: 0 auto
        float: none

.full_post__content__wrap
    li 
        Bullets()

// /full_tour/post }}}
// services {{{
// =========================================================================
.services__summary__wrap
    margin-top: -4.5rem
    padding: 5.2rem 0rem 5rem
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    box-shadow: inset 0 -0.188rem 0.75rem -0.325rem $shadowy
    AltBG()

.services__summary
    margin 0 4rem
.services__summary__list
    margin-left: -0.5rem

.service__summary__item
    Bullets()
    margin-top: 1rem

    &:before
        border-left-color: $turbo_brown

.services__sections_group
    SectionWidth()
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start

.bespoke__wrap
.bus__wrap
    margin: 0.5rem

.bus__wrap
    flex: 3 0 0
    text-align: left
.bespoke__wrap
    flex: 2 0 0

.bespoke__info
.bus__info
    line-height: 1.7rem
.bus__info
    margin: 1rem

.bus__rates__table
    width: 20rem
    text-align: center
    margin: 0 auto

.bus__rates__table__caption
    background: $turbo_verylightblue
    padding: 0.5rem

.bus__rates__row
    td
        padding: 0.5rem

.services__payments__wrap
    SectionWidth()

.services__payments
    column-count: 2

.services__payment
    break-inside: avoid

// /services }}}
// contact {{{
// =========================================================================

.contacts__wrap
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    border-radius: $border-radius
    border: $border
    background: white
    margin-bottom: -0.5rem
    overflow: hidden

.c__textual
    flex: 0 0 20rem
    padding: 1rem 0
    order: 1
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start

@media(max-width: 710px)
    .contacts__wrap
        flex-direction: column

    .c__textual
        order: -1
        flex: 0 1 13rem
        flex-direction: row

@media(max-width: 600px)
    .c__textual
        flex: 0 1 15rem

@media(max-width: 564px)
    .c__textual
        display: block
        text-align: center


.c__brand
.c__list
.c__address
    margin: 1rem 2rem

.c__contact
    white-space: nowrap
    line-height: 2

.c__map__link
    position: relative
    flex: 1 0 20rem
    order: -1

.c__map__img
    width: 100%
    min-width: 320px
    height: auto
    margin-bottom: -0.30rem
    filter: grayscale(.25)

.c__map__tooltip
    top: 0
    z-index: 1000
    .c__map__link:hover &
        opacity: 1

// /contact }}}
// testimonials {{{
// =========================================================================
.testimonial
    width: 100%
    position: relative
    border-radius: $border-radius
    border: $border
    background: white
    margin 0

.testimonial__wrap
    margin: 0 0 2rem
    &:last-child
        margin-bottom: 0

.testimonial__text__wrap
    margin: 3rem 4rem
    position: relative
    z-index: 100

    @media(max-width: 800px)
        margin: 3rem 3rem

    @media(max-width: 480px)
        margin: 3rem 2rem 3rem 1rem

.testimonial__text
    //text-align: justify
    font-style: italic
    line-height: 1.7

.testimonial__svg__wrap
    position: absolute
    top: 1rem
    left: 1rem
    width: 9rem
    height: auto
    z-index: 99

.testimonial__svg__path
    fill: $turbo_lightblue

.testimonial__footer
    background: $turbo_blue
    padding: .7rem 2rem
    display: flex
    justify-content: space-between
    align-items: center

.testimonial__name
    font-size: 1.1rem
    line-height: 1rem
    text-align: right

    &:before
        content: '—  '

.testimonial__date
.testimonial__name
    display: inline
    white-space: nowrap
    color: white

// /testimonials }}}
