$site_header_height = 6rem
$site_header_logo_width = 16rem
$site_header_logo_height = 6rem
$vk_link_text_width = 28rem
$vk_link_icon_width = 4rem

$mobile_nav_bg = white
$site_contacts_wrap_bg = pink
$modal_form_bg = wheat
    
// site_header {{{
// =========================================================================
#site_header
    position: relative
    width: 100%
    height: $site_header_height 
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

// logo {{{
// ------------------------------------------------------------------------
#site_logo
    flex: 0 0 $site_header_logo_width
    height: $site_header_logo_height
    position: relative
    color: transparent

#site_logo__icon
    position: absolute
    height: 100%
    width: 100%
    
// /logo }}}
// site_nav {{{
// ------------------------------------------------------------------------
.site_nav__link
    padding: 0.5rem
    white-space: nowrap
    
// desktop_nav {{{
#desktop_nav 
    flex: 1 0 26rem
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

// /desktop_nav }}}
// mobile_nav {{{
#mobile_nav
    display: none
    position: absolute
    left: $site_header_logo_width
    right: 0
    top: $site_header_height
    flex-direction: column
    justify-content: space-around
    align-items: center
    background: $mobile_nav_bg
    transform: translateY(-200%)
    will-change: transform
    transition: transform 0.5s ease-in-out

    &.is_open
        transform: translateY(0)

// /mobile_nav }}}
// mobile_nav_toggle {{{
.mobile_nav_toggle__svg
    transition: all 0.5s ease-in-out
    fill: hsl(23, 47%, 26%)

.mobile_nav_toggle__svg__top_bar
    transform-origin: 0 0

.mobile_nav_toggle__svg__mid_bar
    transform-origin: 50% 50%

.mobile_nav_toggle__svg__bot_bar
    transform-origin: 0 100%

#mobile_nav_toggle
    display: none
    flex: 0 0 3rem
    margin: 1rem 2rem
    order: 1

    &.is_open
        .mobile_nav_toggle__svg__top_bar
            transform: translateX(10%) rotate(45deg)

        .mobile_nav_toggle__svg__mid_bar
            transform: rotateY(90deg)

        .mobile_nav_toggle__svg__bot_bar
            transform: translateX(10%) rotate(-45deg)

// /mobile_nav_toggle }}}
@media(max-width: 58rem)
    #desktop_nav 
        display: none

    #mobile_nav_toggle
        display: block

    #mobile_nav
        display: flex

// /site_nav }}}
// contacts_box {{{
// ------------------------------------------------------------------------
#site_contacts_wrap
    flex: 0 0 16rem
    height: 7rem
    margin-bottom: $site_header_height - @height
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

    background: $site_contacts_wrap_bg

// /contacts_box }}}
// /site_header }}}
// main {{{
// =========================================================================
// blog {{{
// ------------------------------------------------------------------------

// /blog }}}
// comming_soon {{{
// ------------------------------------------------------------------------

// /comming_soon }}}
// vk_info {{{
// ------------------------------------------------------------------------
.vk_info__link
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: $vk_link_text_width + $vk_link_icon_width
    margin: 1rem auto
    padding: 0.5rem
    border-radius: 0.5rem
    background: #51739a
    color: #fff

.vk_info__link__title
    flex: 0 0 $vk_link_text_width
    text-decoration: none !important
    white-space: nowrap

.vk_info__link__icon
    flex: 0 0 $vk_link_icon_width
    height: $vk_link_icon_width
    width: $vk_link_icon_width

.vk_info__link__icon__svg
    fill: #fff 
    //fill: #51739a 

// /vk_info }}}
// news {{{
// ------------------------------------------------------------------------

// /news }}}
// /main }}}
// about {{{
// =========================================================================

// /about }}}
// tours {{{
// =========================================================================

// /tours }}}
// services {{{
// =========================================================================

// /services }}}
// contact {{{
// =========================================================================

// /contact }}}
// testimonials {{{
// =========================================================================

// /testimonials }}}
// footer {{{
// =========================================================================

// /footer }}}
// forms {{{
// =========================================================================
.modal_form__wrap
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: hsla(0,0,0,0.5)
    transform: translateX(-100%)

    &.is_open
        transform: translateX(0)

.modal_form__body
    width: 18rem
    margin: 2rem auto
    border-radius: 0.5rem
    background: $modal_form_bg
    
.modal_form__header
    text-align: center
    height: 3rem

.modal_form__form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-bottom: 1rem


// /forms }}}
