$TheFont = Georgia, serif

html,
body
    font-size: 17px
    font-family: $TheFont
    font-weight: normal
    line-height: 1.5 

h1, h2, h3, h4, h5, h6
    line-height: 1.5
    font-weight: 300
    font-size: 1.2rem

p, li, a 
    line-height: 1.5
    font-size: 1rem

a
    text-decoration: none

input,
select,
textarea
    font-size: 1.1rem
    font-weight: 300

.phone
    font-size: 1.2rem

.section_header,
.subsection_header
    h1,h2,h3,h4,h5,h6
        font-size: 1.3rem

button
    line-height: 1.2
    appearance: none
    
    &:active,
    &:focus
        border: none

.button_copy
    font-size: 1.1rem

.textlink
    line-height: 2.5
    font-style: italic

