/* сброс стилей */

* {-moz-transition: color 0.2s ease, margin 0.3s ease, box-shadow 0.2s ease, background-color 0.2s ease, padding 0.2s ease, border-color 0.2s ease, opacity 0.3s ease; 
 -webkit-transition: color 0.2s ease, margin 0.3s ease, box-shadow 0.2s ease, background-color 0.2s ease, padding 0.2s ease, border-color 0.2s ease, opacity 0.3s ease; 
 -o-transition: color 0.2s ease, margin 0.3s ease, box-shadow 0.2s ease, background-color 0.2s ease, padding 0.2s ease, border-color 0.2s ease, opacity 0.3s ease;}


body, td, th, input, textarea, button {font-family: Georgia, 'Times New Roman', Times, serif; font-size:13px; color:#333}
body {
background:url(../img/diz/bg3.jpg) center #F8F5E9;
margin:0 auto; max-width:1100px; position:relative
}
body, html, .body-table {height:100%}
* {box-sizing:border-box; -moz-box-sizing:border-box;}
a:link, a:visited {color:#2777A6; text-decoration:none}
a:hover {color:#2CA5EA; text-decoration:underline}
h1 {
 background: linear-gradient(to right, rgba(22,128,173,1), rgba(80,180,255,0));
 padding:2px;
 border-radius:20px 0 0 20px;
 color:white;
 font-size:20px;
 margin:0 0 10px 0;
 position:relative; 
 left:-10px;
 }
h1:before {content:""; display:inline-block; vertical-align:middle; height:30px; width:31px; background:url(../img/diz/h1-icon.png); margin-right:5px;}
h1 a:link, h1 a:visited { color:white;}

h2 {margin:10px 0 10px 0;}

hr {height: 1px; background: #449CC2; border: 0px; overflow: hidden;} 

/* макет */
.body-table {width:100%; border-spacing:0; position:relative;}
.body-table td {vertical-align:top;}
.header {height:190px; background:url(../img/diz/header.jpg)}

.body-table:before {content:''; position:absolute; width:10px; height:100%; background: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0.05), rgba(0,0,0,0.0)); left:-10px; top:0}
.body-table:after {content:''; position:absolute; width:25px; height:100%; background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1), rgba(0,0,0,0.0)); right:-25px; top:0}

.menu {
 height:1px; 
 background:#2D799A; 
 background: linear-gradient(to bottom, #3495CB, #3495CB, #2776A5);
 padding: 0 235px 0 340px; 
 white-space:nowrap}

.menu a {
 text-decoration:none; 
 display:inline-block;
 margin-right:5px; padding: 0 6px;
 font-size:15px; line-height:33px;
 text-shadow:0px -1px 0px rgba(0,0,0,0.4);}
.menu a:link, .menu a:visited {color:white} 
.menu a:hover {
 background:#17AFFF;
 background: linear-gradient(to bottom, #3495CB, #3495CB, #78B1CA);}

.menu a.active {background:#ECF2F5; color:#2777A6; border-radius:6px 6px 0 0; line-height:27px; vertical-align:bottom; padding-bottom:3px; text-shadow:none;}

.content {background:white; padding: 15px 15px 0 340px;}
.footer {position:relative; height:130px; background:url(../img/diz/footer.html) bottom white}
.copyright {padding:5px 10px; background:#fff; position:absolute; right:15px; bottom:0px; border-radius:5px 5px 0 0; box-shadow:0px 1px 5px 0 rgba(0,0,0,0.4)}


.header-contacts {
 position:absolute; right:9px; top:45px; 
 width:224px; height:200px; 
 background:url(../img/diz/contacts-bg.png) no-repeat;
 padding:25px 30px 0 20px}

.header-contacts .brown {font-size:28px; display:block; text-align:center; margin-top:15px; font-family: 'Book Antiqua', Times, serif;} 

.header-contacts .button {position:absolute; bottom:21px; left:12px; width:194px;}

.lefter {
 position:absolute; left:15px; top:0px; 
 width:318px; height:600px; 
 background:url(../img/diz/lefter-bg.png) no-repeat; 
 padding:15px 17px 0 8px}
.logo {display:block; height:103px; width:270px; margin:0 auto 20px auto; background:url(../img/diz/logo.png) center no-repeat; background-size:cover}
.container {min-height:250px; padding:47px 4px 4px 4px;}
.container h2 {text-align:right; font-size:18px; margin-right:5px;}

.h1 {background:#ECF2F5; padding: 20px 15px 10px 340px; height:1%;}
.h1 h1 {font-size:24px; color:#2777A6; margin:0; background:none; padding:0; position:static; font-weight:normal }
.h1 h1:before {display:none;}

.h1 a:link, .h1 a:visited {color:#2777A6} 
.h1 .iconic {color:#D1DEE3 !important; font-size:30px;} 
.h1 a:hover .iconic {color:#2777A6 !important;}


#vk_groups {margin:30px 0 20px 0; }

.table-cats {width:100%; border-spacing:0}
.table-cats td {width:20%; text-align:center; vertical-align:top;}
.table-cats .iconic {display:block; font-size:65px; text-align:center; margin:5px 0 10px 0; color:#D1DEE3}
.table-cats img {display:block; height:80px; margin:0 auto;}
.table-cats a{text-decoration:none; display:block; padding:5px 0}
.table-cats a:hover .iconic {color:#2CA5EA;}

.table-cats a.active, .table-cats a.active .iconic {color:#2CA5EA !important;}
.table-cats a.active {background:rgba(80,200,255,0.1); border-radius:10px;}

.sort-block {background1:#ECF2F5; padding: 5px; margin-bottom:10px; text-align:right}

/* цветовые схемы */
.brown, h2, .brown a:link, h2 a:link, h2 a:visited {color:#845840}
.gray, .gray a:link, .gray a:visited, .gray:link, .gray:visited {color:#888}

/* замена атрибутов */
.b {font-weight:bold}
.n {font-weight:normal; font-style:normal}
.c {text-align:center}
.i {font-style:italic}
.book-font {font-family:'Book Antiqua';}
.fl {display:block; float:left}
.fr {display:block; float:right}
.fc {display:block; text-align:center}


/* контейнер */
.tour-info a {display:block; margin-bottom: 3px; padding:5px; border-radius:5px; text-decoration:none}
.tour-info a:hover {background:rgba(80,200,255,0.1)}
.tour-info strong {display:block; font-size:14px; font-weight:normal; color:#2777A6}
.tour-info small {font-size:12px;}
.tour-info b {display:block; text-align:right; font-weight:normal; font-size:12px; color:#888}

/* формы */
textarea, input, select {
 background:#ECF2F5;
 background: -webkit-linear-gradient(top, #ECF2F5, #F2F9FE);
 background: -moz-linear-gradient(to bottom, #ECF2F5, #F2F9FE);
 background: linear-gradient(to bottom, #ECF2F5, #F2F9FE);
 border:1px solid #B7DBE8;
 padding:3px 6px; border-radius:4px;
 resize: none;
 }
input[type="radio"] {padding:0px;}
textarea:focus, input:focus, select:focus {box-shadow:0 0 4px 0 rgba(100,200,300,1)}

.manTable iframe {
 background:#E8F2F5;
 background: -webkit-linear-gradient(top, #ECF2F5, #fff);
 background: -moz-linear-gradient(to bottom, #ECF2F5, #fff);
 background: linear-gradient(to bottom, #ECF2F5, #fff);
 }

button, input[type="submit"], input[type="button"], input[type="reset"], .button, .button:link, .button:visited {
 display:inline-block;
 text-decoration:none;
 background:#009BED;
 background: -webkit-linear-gradient(top, #009BED, #0070AC);
 background: -moz-linear-gradient(to bottom, #009BED, #0070AC);
 background: linear-gradient(to bottom, #009BED, #0070AC);
 box-shadow:inset 0 2px 2px 0 rgba(255,255,255,0.4),inset 0 -1px 3px 0 rgba(0,0,0,0.3),1px 1px 3px 0 rgba(0,0,0,0.4);
 
 border-radius:5px; border:0;
 padding: 4px 7px;
 text-align:center;
 color:#fff;
 text-shadow:0px -1px 1px rgba(0,0,0,0.4);
 }
 
 button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, .button:hover {
 background: linear-gradient(to bottom, #03A7FC, #17AFFF, #0383CE);
 }
 button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, .button:active {
 background: linear-gradient(to bottom, #005D8E, #0070AC);
 box-shadow:inset 0 -1px 3px 0 rgba(0,0,0,0.3), inset 0 10px 10px 0 rgba(0,0,0,0.3);
 }
 
.button .iconic {font-size:24px; line-height: 15px; margin-right:5px; vertical-align:middle}
.header-contacts .button {padding: 8px; font-size:15px;}

.table {border-spacing:0; border-collapse:collapse}
.table td {border:1px solid #888; padding:7px;}

.popup-form {z-index:5; position:fixed; background:white; padding:15px; border-radius:10px; top:300px; left:50%; width:531px; box-shadow:2px 2px 10px 0 rgba(0,0,0,0.4)}
.popup-shade {z-index:4; position:fixed; background:rgba(0,0,0,0.5); top:0; bottom:0; left:0; right:0} 

.noEntry {padding:50px; background:#ECF2F5; border-radius:10px;}


/*All content, common styles*/
#wrap0 {background: url(../.s/t/788/1.png) repeat-x;}
#wrap {background: url(../.s/t/788/2.jpg) no-repeat top center;min-width: 916px;}
#container {width: 916px;margin: auto;text-align: left;background: url(../.s/t/788/3.png) repeat-y top right;padding-bottom: 5px;}
#leftcol {float: left;width: 693px;}
#rightcol {float: left;width: 223px;padding-top: 5px;}
/*-----------*/

/*Sidebar*/
.block {margin: 0 2px 10px 2px;width: 219px;}
.blocktitle {background: #d5e1e2;border-top: 1px solid #c6cdcd;border-bottom: 1px solid #f2f8f8;padding: 0 15px 0 20px;font: bold 14px/18px 'Trebuchet MS';color: #333333;}

.blockcontent {margin: 5px 15px;width: 189px;}
.blockcontent ul {margin: 0; padding: 0;}
.blockcontent li {margin-left: 15px;}

.uMenuH li {float:left;padding: 0 5px;}

.uMenuV, .uMenuV .uMenuRoot {margin: 0;padding: 0;}
.uMenuV li {margin: 0;list-style: none;}
.uMenuV .uMenuItem {}
.uMenuV li a {display: block;padding: 2px 5px;margin: 0;font: 14px 'Trebuchet MS'; color: #333;text-decoration: none;border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
.uMenuV li a:hover, .uMenuV .uMenuItemA {color: #1a4e89;background: #d2e3eb;border-top: 1px solid #cad0d1;border-bottom: 1px solid #f5fafa;}

.uMenuV .uMenuItemA {}
.uMenuV a.uMenuItemA:link {}
.uMenuV a.uMenuItemA:visited {}
.uMenuV a.uMenuItemA:hover {}
.uMenuV .uMenuArrow {}

.block .xw-tl,.block .xw-bl,.block .u-menuvsep, .x-sh {display:none;}
.block .xw-ml,.block .xw-mr {margin:0;padding:0;background:none !important;}
.block .xw-mc {color:#333; font-weight: normal; float: none; margin: 0; padding: 0; line-height:28px;
background:#e3f0f1 !important; border: 1px solid #dddddd !important;
}
.block .u-menubody {border: 0 !important; padding: 0;}
.block .u-menuvitem {background:#e3f0f1 !important; padding: 2px 35px 2px 15px; line-height:28px;text-decoration: none;border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
.block .u-menuvitem span {font: 14px 'Trebuchet MS';color:#000;text-decoration: none;}
.block .u-menuitemhl {background: #d2e3eb !important; padding: 2px 35px 2px 15px; line-height:28px;border-top: 1px solid #cad0d1;border-bottom: 1px solid #f5fafa;}
.block .u-menuitemhl span {text-decoration: none;color: #1a4e89;}
.block .u-menuarrow {position: absolute; right: 5px; top: 8px;width: 4px; height: 7px; overflow: hidden; background: url(../.s/t/788/4.gif);}
.block .u-menuitemhl .u-menuarrow {background-position: bottom left;}
.block .u-menu {margin-left: 0;}

.search-block {text-align: center;}
.searchForm {overflow: hidden;width: 176px;height: 19px;margin: 5px auto 5px auto;text-align: left;background: url(../.s/t/788/5.gif);}
.schQuery {float: left;position: relative;}
.schQuery input {background: none !important; border: none !important; font: 10px 'Trebuchet MS' !important; color: #333;padding: 0 !important;margin: 2px 0 0 3px;width: 145px !important;}
.schBtn {float: right;position: relative;}
.schBtn input {margin: 0;display: inline;background: none !important; border: none !important; font-size: 0 !important; color: transparent;cursor: pointer;text-indent: -9999px;height: 19px;width: 25px;position: absolute;top:0;right:0;}
/*-------*/

/* Module Part Menu */
.catsTable {}
.catsTable td {}
.catsTd {}
.catName {}
.catNameActive {}
.catNumData {}
.catDescr {}
a.catName:link {}
a.catName:visited {}
a.catName:hover {}
a.catName:active {}
a.catNameActive:link {}
a.catNameActive:visited {}
a.catNameActive:hover {}
a.catNameActive:active {}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font: 18px 'Arial';color: #6699cc;}
.eTitle a {color: #6699cc;text-decoration: none;}
.eTitle a:hover {color: #4da301;}
.eParams {padding:10px 15px; background:#ECF2F5; border-radius:10px;}

.eTitleMini,.eTitleMini2 { 
 background:#3495CB;
 background: linear-gradient(to right, #3495CB, #89BCD8);
 padding:10px 10px;
 border-radius:0 10px 10px 0px;
 color:white;
 font-size:16px;
 margin:20px 0 10px 0;
 font-weight:bold;
 }
.eTitleMini a {color:#fff; text-decoration:none;}
.eTitleMini a:hover {text-decoration:underline;}
.eTitleMini2 {height:38px; border-radius:10px 0 0 10px; background:#3495CB;}

.eMessageMini, .eDetailsMini {margin:0 0 0 15px;}
.eDetailsMini {font-size: 11px; color: #777; margin-top:10px;}
.eImgMini {display:block; width:180px; height:200px; border-radius:10px; box-shadow:2px 3px 10px 0 rgba(0,0,0,0.5); position:relative; z-index:2; border:2px solid white}
.eParamsMini {float:right; padding:10px; background:#ECF2F5; border-radius:0 0 10px 10px; margin:0 0 5px 30px; text-align:right; position:relative; top:-10px; left:-20px;}


.brief {font-size:15px; color:#777; margin:0 0 20px 0px; clear:both}
.eMessage, .eText {}
.eMessage a, .eText a {}
.eMessage img[align="left"] {padding-right:15px !important;}
.eMessage img, .eText img {}
.eDetails, .eDetails1, .eDetails2 {padding: 5px 0;font-size: 11px; color: #666;}
.eDetails a, .eDetails1 a, .eDetails2 a {color: #666;}
.eDetails a:hover, .eDetails1 a:hover, .eDetails2 a:hover {}
.eDetails {}
.eDetails1 {}
.eDetails2 {}

.eRating {}
.eAttach {}
.entryReadAll {display:block; clear:both; margin-top:6px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {}
.cBlock1, .cBlock2 {}
.cBlock1 {}
.cBlock2 {}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {}
.commTd2 {}
.commFl {}
.smiles {}
.commReg {}
.commError {}
.securityCode {}
/* ------------------- */

/* Archive Menu */
.archUl {}
.archLi {}
a.archLink:link {}
a.archLink:visited {}
a.archLink:hover {}
a.archLink:active {}
/* ------------ */

/* Archive Style */
.archiveCalendars {}
.archiveDateTitle {}
.archEntryHr {}
.archiveeTitle li {}
.archiveEntryTime {}
.archiveEntryComms {}
a.archiveDateTitleLink:link {}
a.archiveDateTitleLink:visited {}
a.archiveDateTitleLink:hover {}
a.archiveDateTitleLink:active {}
.archiveNoEntry {}
/* ------------- */

/* Calendar Style */
.calTable {}
.calTable td {padding: 3px 4px;}
.calMonth {color: #34aede;}
.calWday {color: #34aede;background: #fff;border: 1px solid #c6cdcd;}
.calWdaySe, .calWdaySu {background: #6bc1e3;border: 1px solid #34aede;color: #fff;}
.calMday {}
.calMdayA, .calMdayIsA {border: 1px solid #dcdbe0;background: #efefef;}
.calMdayIs {}
a.calMonthLink:link,a.calMdayLink:link {}
a.calMonthLink:visited,a.calMdayLink:visited {}
a.calMonthLink:hover,a.calMdayLink:hover {}
a.calMonthLink:active,a.calMdayLink:active {}
/* -------------- */

/* Poll styles */
.pollBut {}

.pollBody {}
.textResults {}
.textResultsTd {}

.pollNow {}
.pollNowTd {}

.totalVotesTable {}
.totalVotesTd {}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {}
.legendTd {}
.bbCodeBlock, .bbQuoteBlock {margin: 8px 0;}
.codeMessage {padding: 5px;font: 11px 'Consolas', 'Courier New', 'sans-serif';background-color: #ebebeb;color: #000;}
.quoteMessage {
margin: 0 0 20px 0;padding: 3px 0 3px 10px;color: #666;font-style: italic;
border-left: 3px solid #cbcbcb !important; border-right: none !important; border-bottom: none !important; border-top: none !important;
}
/* ------------ */


/* ===== forum Start ===== */
/* General forum Table View */
.forumContent {position: relative;}
.forumContent a {text-decoration: none;}
.forumContent a:hover {text-decoration: underline;}
.forumcontent td {font: 11px 'Arial'; color: #555555;}
a.fNavLink {font: italic 12px 'Trebuchet MS';color: #51a3e2;text-decoration: underline;padding: 3px 6px;}
a.fNavLink:hover {color: #1a4e89;}
.gTable {background: #6bc1e3;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;}
.gTable td {background: #fff; padding: 5px 7px;}
td.gTableTop {font: 14px/21px 'Tahoma';color: #feffff;padding: 0 10px;background: #44b6eb url(../.s/t/788/6.gif) repeat-x;border: none;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;}
td.gTableTop a {font: 14px/21px 'Tahoma'; color: #feffff;}
td.gTableSubTop, td .postTdTop {background: #f5f5f5;font: 10px/16px 'Tahoma';color: #1a4e89;padding: 0 10px;}
td.gTableSubTop a, td .postTdTop a {color: #1a4e89;}
.gTableBody {}
.gTableBody1 {}
.gTableBottom {}
.gTableLeft {}
td.gTableRight {background: #fff;}
.gTableError {}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {}
td.forumIcoTd,td.forumThreadTd,td.forumPostTd {background: #f5f5f5;}
.forumLastPostTd,.forumArchive {}

a.catLink:link {}
a.catLink:visited {}
a.catLink:hover {}
a.catLink:active {}

.lastPostGuest,.lastPostUser,.threadAuthor {}
.archivedForum{}
/* ------------- */

/* forum Titles & other */
.forum {font: 12px 'Arial'; }
.forumDescr,.forumModer {font: 10px 'Arial'; color: #a1a1a1;}
.forumViewed {}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {color: #1282d8;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {color: #1282d8;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {color: #1282d8;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {color: #1282d8;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {}
.forumBarKw {}
a.forumBarA:link {}
a.forumBarA:visited {}
a.forumBarA:hover {}
a.forumBarA:active {}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {}
.fastNavCat {}
.fastNavCatA {}
.fastNavForumA {}
/* -------------------------- */

/* forum Page switches */
.switches {}
td.pagesInfo, td.switch, td.switchActive {background: #ffffff; border: 1px solid #dcdbe0; padding-left: 5px; padding-right: 5px;}
td.switch, td.switchActive { background: #ccedff; color: #555;}
td.switch a {color: #555;}
.switch {}
.switchActive {}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {}
td.threadIcoTd,td.threadPostTd,td.threadViewTd {background: #f5f5f5;}
.threadLastPostTd {}
.threadDescr {font: 10px 'Arial'; color: #a1a1a1;}
.threadNoticeLink {}
.threadsType {}
.threadsDetails {}
.forumOnlineBar {}

a.threadPinnedLink:link {}
a.threadPinnedLink:visited {}
a.threadPinnedLink:hover {}
a.threadPinnedLink:active {}

a.threadLink:link {font: 12px 'Arial';color: #1282d8;}
a.threadLink:visited {font: 12px 'Arial';color: #1282d8;}
a.threadLink:hover {font: 12px 'Arial';color: #1282d8;}
a.threadLink:active {font: 12px 'Arial';color: #1282d8;}

.postpSwithces {}
.thDescr {}
.threadFrmBlock {}
/* ------------------- */

/* forum Posts View */
.postTable {background:#dcdbe0;}
.postTable td {}
.postPoll {}
.postPoll td {border: 0 !important;}
.postFirst {}
.postRest1 {}
.postRest2 {}
.postSeparator {display: none;}

.postTdTop {}
.postTdTop a {text-decoration: underline;}
.postTdTop a:hover {text-decoration: none;}
.postBottom {font-size: 10px !important;}
.postBottom td {border: 0;padding: 0 5px !important;}
.postBottom img, .postBottom input {vertical-align: middle;}
.postUser {font-size: 12px; font-weight: bold;}
.postTdInfo {text-align: center;}
.postRankName {}
.postRankIco {}
.reputation {}
.signatureHr {}
.posttdMessage {text-align: justify;padding: 8px !important;line-height: 18px;}

.pollQuestion {}
.pollButtons,.pollTotal {}
.pollSubmitBut,.pollreSultsBut {}
.pollSubmit {}
.pollEnd {}

.codeMessage {font-family: monospace;}
.quoteMessage {font-style: italic;}

.signatureView {}
.edited {}
.editedBy {}

.statusBlock {}
.statusOnline {}
.statusOffline {}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {}
.newPollBlock {}
.newThreadItem {}
.newPollItem {}
/* ----------------------- */

/* forum Post Form */
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {}

.codeButtons {font-size:11px; font-family:Arial; padding: 2px 3px;}
.codeCloseAll {}
.postNameFl,.postDescrFl {}
.postPollFl,.postQuestionFl {}
.postResultFl {}
.postAnswerFl {}
.postTextFl {}
.postUserFl {}

.pollHelp {}
.smilesPart td {border: 0 !important;}
/* ----------------- */
.funcLink {font: 11px 'Tahoma';color: #1282d8;}
/* ====== forum End ====== */

/*--------------------- INPUTS start ---------------------*/
#mchatBtn, input.codeButtons, input.button {padding-left: 0;padding-right: 0;}
.queryField {width: auto !important;}
.commFl {width: 100%;}
#frM58 span {display: inline-block;}
/*--------------------- INPUTS end ---------------------*/

/*--------------------- POPUP start ---------------------*/
.popup-bg {background: #b3dff0;padding: 10px 0;}
.popup {margin: 0 8px;border-radius: 5px;background: #fff;padding: 1px;text-align: left;}
.popup, .popup td {color: #6b6b6b;font: 11px 'Tahoma';}
.popup a, .popup td a {color: #1a4e89;}
.popuptitle {font: bold 12px/30px 'Arial';color: #bee3f5;background: #45afe1;border: 1px solid #3298c9;border-radius: 5px;}
.pt-inside {background: url(../.s/t/788/8.jpg) no-repeat top right;padding: 0 20px;}
.popupbody {padding: 5px 15px; _width: 100% /*FOR IE*/ ;}
/*--------------------- POPUP end ---------------------*/

#uNetRegF{text-align:left;}
input[type=submit] {*overflow: visible; *padding:0 7px; *border: 0px !important;}
.uMenuV{z-index:5; text-align:left;}
input[type=text], input[type=password], textarea, iframe#mchatIfm2{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *padding:3px 0px !important;}
.myBtnLeft img, .myBtnRight img, .myBtnLeftA img, .myBtnRightA img, .myBtnRight + td input, .myBtnRightA + td input { display: block }


/*Pages switches*/
.pagesBlock1, .pagesBlockuz1 {display:block; float:right; margin:10px 0 5px 0;}
.pagesBlock2, .pagesBlockuz2, .plist {display:block; text-align:center; margin:10px 0 5px 0;}

.swchItem, .swchItem1, .swchItemA1, .swchItemA, .pgSwch, .pgSwchA b {font-family: "Book Antiqua", "Times", serif; display:inline-block; font-size:17px; line-height:24px; min-width:26px; box-sizing:border-box; text-align:center; padding:0 4px; border-radius:14px; text-decoration:none}
.swchItemA1, .swchItemA, .pgSwchA b, button.active {
 background:#3495CB; 
 color:white; 
 font-weight:normal; 
}
.swchItem:hover, .swchItem1:hover, .pgSwch:hover {background:#ECF2F5; }
/*--------------*/