html {
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: normal;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: normal;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
body {
  overflow-y: visible;
  overflow-x: hidden;
  height: auto;
}
section {
  margin: 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  margin: 0;
  padding: 0;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
textarea {
  margin: 1rem;
  padding: 0.4rem;
  padding-right: 0;
  border: none;
}
textarea {
  resize: none;
}
#site_header {
  height: 6rem;
  flex: 0 0 6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 700;
}
#site_logo {
  flex: 0 0 14rem;
  height: 5.25rem;
  margin: 0.375rem;
  position: relative;
  z-index: 1001;
}
#site_logo__icon {
  position: absolute;
  height: 100%;
  width: 100%;
}
#site_contacts_wrap {
  flex: 0 0 13rem;
  position: relative;
  height: 4.5rem;
  margin: 0.5rem 1.5rem 0.5rem 1rem;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: space-between;
  flex-wrap: wrap;
}
.site_header__phone,
.site_header__call-back {
  flex: 0 0 2rem;
}
.site_header__phone {
  margin-bottom: 0.4rem;
}
.site_header__vk_button {
  height: 3rem;
  width: 3rem;
  flex: 0 0 3rem;
  margin-left: 1rem;
}
.site_header__call-back {
  padding: 0 0.7rem;
}
.site_nav__link {
  padding: 0.5rem;
  white-space: nowrap;
}
#desktop_nav {
  flex: 1 0 20rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 1rem;
}
#desktop_nav .site_nav__link {
  padding-top: 3.7rem;
}
#mobile_nav {
  display: none;
  position: absolute;
  right: 0;
  left: calc(100% - 18.75rem);
  top: 6rem;
  z-index: 999;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transform: rotateY(90deg);
  transform-origin: 100% 0;
  will-change: transform;
}
#mobile_nav .site_header__phone,
#mobile_nav .site_header__call-back {
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  margin: 0;
}
#mobile_nav .site_header__phone {
  margin-top: 2rem;
}
#mobile_nav .site_header__vk_button {
  height: 2.8rem;
  padding: 0.1rem 7.975rem;
}
#mobile_nav .site_header__phone,
#mobile_nav .site_header__call-back,
#mobile_nav .site_header__vk_button {
  display: none;
}
#mobile_nav .site_nav__link {
  width: 100%;
}
#mobile_nav .site_nav__link:active {
  width: 100%;
}
#mobile_nav.is_open {
  transform: rotateY(0);
}
.mobile_nav_toggle__svg {
  transition: all 0.3s ease-out;
}
.mobile_nav_toggle__svg__top_bar {
  transform-origin: 0 0;
}
.mobile_nav_toggle__svg__mid_bar {
  transform-origin: 50% 50%;
}
.mobile_nav_toggle__svg__bot_bar {
  transform-origin: 0 100%;
}
#mobile_nav_toggle {
  display: none;
  position: relative;
  flex: 0 0 3rem;
  padding: 1.7rem 2rem;
  order: 1;
  z-index: 1001;
}
#mobile_nav_toggle.is_open .mobile_nav_toggle__svg__top_bar {
  transform: translateX(10%) rotate(45deg);
}
#mobile_nav_toggle.is_open .mobile_nav_toggle__svg__mid_bar {
  transform: rotateY(90deg);
}
#mobile_nav_toggle.is_open .mobile_nav_toggle__svg__bot_bar {
  transform: translateX(10%) rotate(-45deg);
}
@media (max-width: 964px) {
  #desktop_nav {
    display: none;
  }
  #mobile_nav_toggle {
    display: block;
  }
  #mobile_nav {
    display: flex;
  }
}
@media (max-width: 600px) {
  #site_contacts_wrap {
    display: none;
  }
  #mobile_nav .site_header__phone,
  #mobile_nav .site_header__call-back,
  #mobile_nav .site_header__vk_button {
    display: block;
  }
  .site_header__vk_button {
    margin-left: 0;
  }
}
@media (max-width: 349px) {
  #site_logo {
    flex: 0 0 60vw;
  }
}
#site_footer {
  order: 2;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 2rem;
  z-index: 700;
}
.footer-contact,
.footer-corner-box {
  margin: 1rem;
  flex: 1 0 13.5rem;
}
.footer-contact {
  margin: 1rem 0.5rem;
}
.footer-icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto 1rem;
}
.footer-corner-box {
  padding-right: 1rem;
}
.page_wrap {
  min-height: 46.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-height: 46.2rem) {
  .page_wrap {
    min-height: 100vh;
  }
}
.page_content_wrap {
  height: auto;
  flex: 1 0 1;
}
.page_content_wrap--page,
.page_content_wrap--post,
.page_content_wrap--tour {
  margin: 0 auto;
}
.page_content_wrap--page {
  max-width: 1520px;
}
.page_content_wrap--post,
.page_content_wrap--tour {
  max-width: 1920px;
}
.page_heading,
.section_header {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 1em;
}
.page_heading {
  flex: 0 0 100%;
}
.tooltip {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem;
  opacity: 0;
}
.testimonials,
.contacts__wrap,
.contact-form__wrap,
.review-form__wrap {
  width: 85vw;
  max-width: 56.25rem;
  min-width: 31.25rem;
  margin: 1rem auto;
}
@media (max-width: 660px) {
  .testimonials,
  .contacts__wrap,
  .contact-form__wrap,
  .review-form__wrap {
    width: 92vw;
    max-width: 92vw;
    min-width: 0;
  }
}
.block--breadcrumbs,
.block--heading,
.block--textual,
.block--textimg,
.block--bullets,
.block--gallery,
.block--form {
  max-width: 56.25rem;
  margin: 0 auto;
}
@media (max-width: 931px) {
  .block--breadcrumbs,
  .block--heading,
  .block--textual,
  .block--textimg,
  .block--bullets,
  .block--gallery,
  .block--form {
    max-width: calc(100vw - 2rem);
  }
}
.block--textual,
.block--textimg,
.block--bullets,
.block--gallery {
  padding-bottom: 1rem;
}
.block--textual > *,
.block--textimg > *,
.block--bullets > ul {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (max-width: 500px) {
  .block--textual > *,
  .block--textimg > *,
  .block--bullets > ul {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.block--textimg,
.block--gallery {
  overflow: auto;
}
.block--textimg::after,
.block--gallery::after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  clear: both;
}
.block--bullets > ul > li {
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.block--bullets > ul > li:before {
  content: '';
  display: block;
  position: absolute;
  left: -1.3rem;
  top: 25%;
  bottom: 75%;
  right: calc(100% + 0.6rem);
  background: transparent;
  border-top: 0.32rem solid transparent;
  border-bottom: 0.32rem solid transparent;
  border-left: 0.5rem solid #6aa8c3;
  transition: all 0.2s ease-in-out;
  transform: translateX(10%);
}
.block--bullets > ul > li:hover:before,
.block--bullets > ul > li:focus:before {
  border-left: 0.5rem solid #226581;
  transform: translateX(0%);
}
.block--textimg__image__wrap {
  float: right;
  margin: 2rem;
  width: 50%;
  max-height: auto;
  max-width: 25rem;
  overflow: hidden;
}
@media (max-width: 700px) {
  .block--textimg__image__wrap {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .block--textimg__image__wrap {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}
.block--textimg__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.block--gallery {
  margin-top: 2rem;
  column-count: 2;
}
.block--gallery img {
  max-width: calc(100% - 2rem);
  margin: 1rem;
}
.block--no-header {
  padding-top: 1rem;
}
.tour__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tour__wrap {
  flex: 0 0 285px;
  position: relative;
  margin: 0 0.5rem 2.5rem;
}
.tour__image__wrap {
  max-width: 285px;
  max-height: 214px;
  overflow: hidden;
}
.tour__image {
  width: 103.1%;
  max-width: 300px;
  transform: scale(0.97, 0.97);
  transform-origin: 0 0;
  transition: all 0.5s ease-out;
}
.tour__wrap:hover .tour__image,
.tour__wrap:focus .tour__image {
  transform: scale(1, 1);
}
.tour__title {
  padding: 0.6rem;
  flex: 1 1 6rem;
}
.tour__length {
  display: inline;
  text-align: right;
  line-height: 2.25rem;
  margin-top: -2.25rem;
  padding: 0 1rem;
}
@media (max-width: 659px) and (min-width: 565px) {
  .tour__wrap {
    flex: 0 0 15rem;
  }
  .tour__image__wrap {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 449px) {
  .tour__wrap {
    flex-grow: 1;
    margin-bottom: 1rem;
  }
  .tour__image__wrap,
  .tour__image {
    display: none;
  }
}
.block--breadcrumbs {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.5rem;
}
.breadcrumb__label {
  color: #3485a8;
  text-decoration: underline;
  white-space: nowrap;
  padding: 0.75rem 0;
}
.breadcrumb--icon {
  order: -1;
  margin-right: 1.5rem;
}
.breadcrumb--subtag {
  order: 2;
  margin-left: 1.5rem;
  margin-right: -1rem;
}
.breadcrumb__icon {
  flex: 0 0 3rem;
  display: block;
  width: 3rem;
  height: 3rem;
}
.breadcrumb__icon__svg {
  fill: #3485a8;
}
.breadcrumb {
  transition: all 0.3s ease-in-out;
}
.breadcrumb:hover .breadcrumb__icon__svg,
.breadcrumb:focus .breadcrumb__icon__svg {
  fill: #613b23;
}
.breadcrumb:hover .breadcrumb__label,
.breadcrumb:focus .breadcrumb__label {
  color: #613b23;
  text-decoration: underline;
}
.breadcrumbs--prev-next {
  justify-content: space-around;
}
.block--heading {
  margin: 1rem 1vw;
}
.block--heading::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.heading__left {
  float: left;
}
.heading__date {
  color: #226581;
}
.heading__right {
  text-align: right;
}
.heading__details__label {
  color: #226581;
}
.heading__details__value,
.heading__details__category {
  white-space: nowrap;
}
@media (max-width: 700px) {
  .block--heading {
    display: block;
  }
  .heading__left,
  .heading__right {
    text-align: center;
  }
}
.full_tour__description,
.includes__wrap,
.additional-fees__wrap,
.will-learn__wrap,
.blueprint__wrap,
.order-form__wrap {
  width: 85vw;
  max-width: 56.25rem;
  min-width: 31.25rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
}
@media (max-width: 660px) {
  .full_tour__description,
  .includes__wrap,
  .additional-fees__wrap,
  .will-learn__wrap,
  .blueprint__wrap,
  .order-form__wrap {
    width: 92vw;
    max-width: 92vw;
    min-width: 0;
  }
}
.vk__source__link {
  white-space: nowrap;
}
.full-post__description > p,
.full-vkpost__description > p,
.vk__source {
  margin-left: 2rem;
  margin-right: 2rem;
}
.full-post__description > p:last-child,
.full-vkpost__description > p:last-child,
.vk__source:last-child {
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .full-post__description > p,
  .full-vkpost__description > p,
  .vk__source {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.first_glance {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}
.site_heading__wrap {
  flex: 5 2 34rem;
  min-height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.site_heading__text_box {
  flex: 0 2 38rem;
  margin: 2rem;
}
.site_heading {
  padding: 2rem 3rem 3rem;
}
.recent_posts__wrap {
  flex: 1 0 19rem;
}
.recent_posts__list {
  margin: 0 1rem 1rem 2rem;
}
.recent_post {
  margin-bottom: 1rem;
  position: relative;
}
.recent_post:before {
  content: '';
  display: block;
  position: absolute;
  left: -1.3rem;
  top: 25%;
  bottom: 75%;
  right: calc(100% + 0.6rem);
  background: transparent;
  border-top: 0.32rem solid transparent;
  border-bottom: 0.32rem solid transparent;
  border-left: 0.5rem solid #6aa8c3;
  transition: all 0.2s ease-in-out;
  transform: translateX(10%);
}
.recent_post:hover:before,
.recent_post:focus:before {
  border-left: 0.5rem solid #226581;
  transform: translateX(0%);
}
.upcoming_events__wrap {
  width: 95vw;
  max-width: 68.75rem;
  margin: 1rem auto;
}
.upcoming_events__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 1239px) {
  .upcoming_events__wrap {
    width: 38rem;
    max-width: 38rem;
  }
  .upcoming_events__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 564px) {
  .upcoming_events__wrap {
    width: 16rem;
    max-width: 16rem;
  }
}
.newscards__wrap,
.vkcards__wrap {
  width: 95vw;
  max-width: 1100px;
  margin: 1rem auto;
}
.card__link {
  width: 100%;
  position: relative;
  z-index: 20;
  overflow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0 1rem;
}
.card__link:hover,
.card__link:focus {
  z-index: 29;
}
.card__image__wrap {
  min-height: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  object-fit: cover;
}
.newspost__image__wrap,
.vkpost__image__wrap,
.guide__image__wrap {
  flex: 1 1 21.875rem;
  line-height: 0;
  max-height: 18rem;
}
@media (max-width: 659px) {
  .newspost__image__wrap,
  .vkpost__image__wrap {
    display: none;
  }
}
.card__image {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card__content__wrap {
  flex: 1 1 70%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.card__date {
  flex: 0 0 2.25rem;
  line-height: 2.25rem;
  padding: 0 1rem;
}
.card__date.newspost__date,
.card__date.vkpost__date {
  text-align: right;
}
.card__title {
  flex: 1 1 3rem;
  padding: 1rem 0.7rem;
}
.card__summary {
  padding: 0 1rem 1rem;
}
.card__button {
  flex: 0 0 3rem;
  padding-left: 1rem;
  line-height: 3rem;
}
.tours__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 32.2rem;
}
.tours_nav__wrap {
  flex: 0 1 25vw;
  min-width: 15rem;
  margin-bottom: -2rem;
  position: relative;
  z-index: 10;
}
.tours_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem 0;
}
.tours_nav__link {
  padding: 1em 12% 1em 3%;
  white-space: nowrap;
}
.tours_nav__link.active {
  z-index: 500;
}
.tours_nav__link--subtag {
  padding-right: 18%;
  display: none;
}
.tours_nav__link--subtag.visible {
  display: block;
}
.tours_nav__link--subtag--last {
  padding-bottom: 1.5em;
}
.tours_list__wrap {
  flex: 0 1 75vw;
  position: relative;
  z-index: 0;
}
.tours__section_header {
  background: transparent;
}
.tours-tag-info__wrap {
  background-image: url("/img/card.png");
  background-color: #fffff0;
  background-repeat: repeat;
  background-blend-mode: soft-light;
}
.tours-tag-info__wrap {
  margin-top: -5rem;
  padding: 2rem 2rem;
  position: relative;
  z-index: 5;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
}
.tours-tag-info {
  margin: 4rem 2rem 1rem;
}
.tours_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  margin: 1.5rem 1.5rem;
}
.tours__count {
  position: absolute;
  right: 1.6rem;
  top: 2rem;
  z-index: 100;
}
@media (max-width: 1139px) {
  .tours_nav {
    margin-top: 2.5rem;
  }
  .tours_list {
    margin-top: 3.5rem;
  }
  .tours__count {
    top: 4rem;
  }
}
@media (max-width: 899px) {
  .tours__wrap {
    display: block;
  }
  .tours_nav__wrap {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .tours_nav {
    margin-top: 0;
  }
  .tours_nav__link {
    text-align: center;
  }
}
.about-info,
.guide-text,
.advantages__wrap,
.guide-form__wrap {
  margin: 1rem 1rem 1rem 2rem;
  float: left;
}
.guide-form__wrap {
  max-width: 56.25rem;
  float: left;
}
.guide-info__wrap {
  width: calc(100vw - 56.25rem - 6.5rem);
  max-width: 500px;
  min-width: 320px;
  margin: 1rem 2rem 1rem 1rem;
  float: right;
}
@media (max-width: 1316px) {
  .about-info,
  .advantages__wrap,
  .guide-text,
  .guide-form__wrap {
    width: calc(100vw - 320px - 6rem);
    max-width: calc(100vw - 320px - 6rem);
  }
  .guide-info__wrap {
    width: 320px;
    max-width: 320px;
  }
}
@media (max-width: 996px) {
  .about-info,
  .guide-text {
    clear: both;
    float: none;
    width: 85vw;
    max-width: 56.25rem;
    min-width: 31.25rem;
    margin: 1rem auto;
  }
  .advantages__wrap,
  .guide-form__wrap {
    min-width: 330px;
  }
}
@media (max-width: 745px) {
  .advantages__wrap,
  .guide-form__wrap,
  .guide-info__wrap {
    clear: both;
    float: none;
  }
  .advantages__wrap,
  .guide-form__wrap {
    width: 85vw;
    max-width: 56.25rem;
    min-width: 31.25rem;
    margin: 1rem auto;
  }
  .guide-info__wrap {
    margin-left: auto;
    margin-right: auto;
  }
}
.guide__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.guide__image__wrap {
  flex: 1 1 21.875rem;
  line-height: 0;
  max-height: 18rem;
}
.guide__name {
  flex-basis: 1.5rem;
}
.guide__resume {
  padding-top: 0;
  padding-bottom: 1rem;
}
.contacts__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
}
.business-info {
  flex: 0 0 20rem;
  padding: 1rem 0;
  order: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.brand,
.contacts-list,
.address {
  margin: 1rem 2rem;
}
.business-info {
  white-space: nowrap;
}
@media (max-width: 710px) {
  .contacts__wrap {
    flex-direction: column;
  }
  .business-info {
    order: -1;
    flex: 1 1 100%;
    flex-direction: row;
  }
  .business-info {
    white-space: pre-wrap;
  }
}
@media (max-width: 564px) {
  .business-info {
    display: block;
    text-align: center;
  }
}
.map {
  position: relative;
  flex: 1 0 20rem;
  order: -1;
}
.map__img {
  width: 100%;
  min-width: 320px;
  height: auto;
  margin-bottom: -0.3rem;
}
.map__tooltip {
  top: 0;
}
.map:hover .map__tooltip,
.map:focus .map__tooltip {
  opacity: 1;
}
.testimonial {
  position: relative;
  margin: 0 0 2rem;
  padding-top: 0.5rem;
}
.testimonial__text {
  margin: 2rem;
  position: relative;
  z-index: 100;
}
@media (max-width: 800px) {
  .testimonial__text {
    margin: 3rem 3rem;
  }
}
@media (max-width: 480px) {
  .testimonial__text {
    margin: 3rem 2rem 3rem 1rem;
  }
}
.testimonial__svg {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 9rem;
  height: auto;
  z-index: 99;
}
.testimonial__footer {
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial__name {
  text-align: right;
}
.testimonial__name:before {
  content: '—  ';
}
.testimonial__date,
.testimonial__name {
  display: inline;
  white-space: nowrap;
}
@media (max-width: 996px) and (max-width: 660px) {
  .about-info,
  .guide-text {
    width: 92vw;
    max-width: 92vw;
    min-width: 0;
  }
}
@media (max-width: 745px) and (max-width: 660px) {
  .advantages__wrap,
  .guide-form__wrap {
    width: 92vw;
    max-width: 92vw;
    min-width: 0;
  }
}
html,
body {
  font-size: 16px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
th {
  font-weight: 300;
}
p,
li,
a {
  font-size: 1rem;
}
input,
textarea {
  font-size: 1rem;
}
button {
  font-size: 1.1rem;
}
.page_heading,
.section_header {
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.page_heading--404 {
  line-height: 2;
}
.phone {
  font-size: 1.1rem;
}
#mobile_nav .site_header__phone,
#mobile_nav .site_header__call-back {
  line-height: 3rem;
  text-align: center;
}
.site_header__phone {
  font-size: 1.1rem;
}
.site_header__call-back {
  font-size: 0.9rem;
  line-height: 2.3;
}
.footer-contact {
  text-align: center;
}
.footer-corner-box {
  text-align: right;
}
.site-developer,
.site-developer__link {
  font-size: 0.7rem;
}
.block--textual > p,
.block--textimg > p {
  hyphens: auto;
  text-align: justify;
}
@media (max-width: 1100px) {
  .block--textual > p,
  .block--textimg > p {
    text-align: left;
  }
}
.full-post__description > p,
.full-vkpost__description > p {
  hyphens: auto;
  text-align: justify;
}
@media (max-width: 1100px) {
  .full-post__description > p,
  .full-vkpost__description > p {
    text-align: left;
  }
}
.heading__title {
  font-size: 2rem;
  line-height: 1.3;
}
@media (max-width: 500px) {
  .heading__title {
    font-size: 1.4rem;
  }
}
.heading__subtitle {
  font-size: 1.6rem;
  line-height: 1.6;
}
@media (max-width: 500px) {
  .heading__subtitle {
    font-size: 1.2rem;
  }
}
.tour__title {
  font-size: 1.1rem;
}
.tour__length {
  font-size: 0.9rem;
}
.heading__details__value {
  font-size: 1.1rem;
}
.heading__details__label,
.heading__details__category {
  font-size: 1rem;
  font-style: italic;
}
.site_heading {
  font-size: 1.6rem;
}
@media (max-width: 739px) {
  .site_heading {
    font-size: 1.4rem;
  }
}
.card__date {
  font-size: 0.9rem;
}
.card__title {
  font-size: 1.2rem;
}
.card__summary {
  font-size: 1rem;
}
.testimonial__name {
  font-size: 1.1rem;
  line-height: 1rem;
}
.testimonial__text {
  font-style: italic;
  line-height: 1.7;
  text-align: justify;
}
.breadcrumb__label {
  font-size: 1rem;
}
@media (max-width: 500px) {
  .breadcrumb__label {
    font-size: 0.8rem;
  }
}
.tours_nav__link {
  text-align: right;
  text-transform: uppercase;
  line-height: 1;
}
.guide__resume {
  text-align: justify;
  hyphens: auto;
}
.business-info {
  line-height: 2;
}
a {
  color: #452917;
  text-decoration: none;
}
p a {
  color: #3485a8;
  text-decoration: underline;
}
p a:hover,
p a:focus {
  color: #613b23;
}
img {
  border: none;
}
img[jpg] {
  pointer-events: none;
}
input,
textarea {
  border-radius: 0.125rem;
  border: none;
}
button {
  appearance: none;
  border: none;
  border-radius: 0.125rem;
  border-radius: 0.125rem;
}
#site_header {
  background-image: url("/img/noise.png");
  background-size: 40px;
  background-blend-mode: hard-light;
  background-color: #f0f0f0;
  background-repeat: repeat;
  box-shadow: 0 0 0.8rem -0.2rem #26170d;
}
#site_logo {
  color: transparent;
}
#site_logo .logo_gray {
  fill: #71706f;
}
#site_logo .logo_brown {
  fill: #613b23;
}
#site_logo .logo_blue {
  fill: #3485a8;
}
#site_logo:hover,
#site_logo:focus {
  outline: none !important;
}
#site_logo:hover .logo_gray,
#site_logo:focus .logo_gray,
#site_logo:hover .logo_brown,
#site_logo:focus .logo_brown,
#site_logo:hover .logo_blue,
#site_logo:focus .logo_blue {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease-out;
}
#site_logo:hover .logo_gray,
#site_logo:focus .logo_gray {
  transform-origin: 1.52rem 1.5rem;
  animation-name: logo_animate_gray;
}
#site_logo:hover .logo_gray.logo_gray_a,
#site_logo:focus .logo_gray.logo_gray_a {
  animation-name: logo_animate_gray_a;
  animation-delay: 0.3s;
}
#site_logo:hover .logo_gray.logo_gray_b,
#site_logo:focus .logo_gray.logo_gray_b {
  animation-name: logo_animate_gray_b;
  animation-delay: 0.6s;
}
#site_logo:hover .logo_brown,
#site_logo:focus .logo_brown {
  animation-name: logo_animate_brown;
}
#site_logo:hover .logo_blue,
#site_logo:focus .logo_blue {
  animation-name: logo_animate_blue;
}
.site_header__phone {
  color: #613b23;
}
.site_header__vk_button {
  fill: #3485a8;
}
.site_header__call-back {
  color: #fff;
  background: #613b23;
  border-radius: 0.125rem;
  transition: all 0.2s ease-in-out;
}
.site_header__call-back:hover,
.site_header__call-back:focus {
  color: #fff;
  background: #3485a8;
}
.site_header__call-back:active {
  color: #fff;
  background: #613b23;
}
.site_header__call-back.is_open {
  color: #fff;
  background: #3485a8;
  opacity: 0.4;
}
.site_nav__link {
  color: #613b23;
  transition: all 0.1s ease-in-out;
}
.site_nav__link:active,
.site_nav__link.active,
.site_nav__link.active:hover,
.site_nav__link.active:focus {
  color: #fff;
  background: #613b23;
  box-shadow: 0 0.1rem 0.8rem -0.2rem #26170d;
}
.site_nav__link:hover,
.site_nav__link:focus {
  color: #fff;
  background: #3485a8;
}
#mobile_nav {
  border-radius: 0 0 0.125rem 0.125rem;
  background: #fff;
  box-shadow: 0 0.063rem 0.875rem -0.25rem #26170d;
}
#mobile_nav .site_header__phone {
  border-top: 0.063rem solid #613b23;
}
#mobile_nav .site_header__vk_button {
  fill: #fff;
  background: #3485a8;
}
.mobile_nav_toggle__svg {
  transition: all 0.3s ease-out;
  fill: #613b23;
}
.mobile_nav_toggle__svg__top_bar {
  transform-origin: 0 0;
}
.mobile_nav_toggle__svg__mid_bar {
  transform-origin: 50% 50%;
}
.mobile_nav_toggle__svg__bot_bar {
  transform-origin: 0 100%;
}
#mobile_nav_toggle.is_open .mobile_nav_toggle__svg__top_bar {
  transform: translateX(10%) rotate(45deg);
}
#mobile_nav_toggle.is_open .mobile_nav_toggle__svg__mid_bar {
  transform: rotateY(90deg);
}
#mobile_nav_toggle.is_open .mobile_nav_toggle__svg__bot_bar {
  transform: translateX(10%) rotate(-45deg);
}
#site_footer {
  background-image: url("/img/blue.png");
  background-repeat: repeat;
  background-blend-mode: color-dodge;
  background-color: #452917;
  color: #fff;
  box-shadow: 0 0 0.5rem -0.063rem #26170d;
}
.footer-contact {
  color: #fff;
  fill: #fff;
}
.footer-contact:hover,
.footer-contact:focus {
  color: #3485a8;
  fill: #3485a8;
}
.page_wrap {
  color: #452917;
  background-image: url("/img/wall.png");
  background-repeat: repeat;
  background-blend-mode: lightten;
  background-color: #fffff0;
}
.tooltip {
  background: #3485a8;
  border-radius: 0.125rem;
  color: #fff;
}
.site-developer__link {
  color: #6aa8c3;
}
.block--textual,
.block--textimg,
.block--bullets,
.block--gallery,
.block--form {
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
}
.block--textimg__image {
  border-radius: 0.125rem;
}
.tour__card {
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
}
.tour__length {
  color: #613b23;
}
.breadcrumb__label {
  color: #3485a8;
  text-decoration: underline;
}
.breadcrumb__icon__svg {
  fill: #3485a8;
}
.breadcrumb {
  transition: all 0.3s ease-in-out;
}
.breadcrumb:hover .breadcrumb__icon__svg,
.breadcrumb:focus .breadcrumb__icon__svg {
  fill: #613b23;
}
.breadcrumb:hover .breadcrumb__label,
.breadcrumb:focus .breadcrumb__label {
  color: #613b23;
  text-decoration: underline;
}
.heading__date {
  color: #226581;
}
.heading__details__label {
  color: #226581;
}
.vk__source__link {
  color: #3485a8;
  text-decoration: underline;
}
.vk__source__link:hover,
.vk__source__link:focus {
  color: #613b23;
}
.site_heading__wrap {
  background-image: url("/img/main_bg.jpg");
  background-size: cover;
  background-position: 80% 0%;
  background-repeat: no-repeat;
}
.site_heading__text_box {
  background: rgba(255,255,255,0.8);
}
.recent_posts__wrap {
  box-shadow: inset 0 -0.188rem 0.75rem -0.375rem #26170d;
  background-image: url("/img/card.png");
  background-color: #a1cbde;
  background-repeat: repeat;
  background-blend-mode: soft-light;
}
.recent_post__link {
  color: #452917;
}
.card__link {
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
  background: #fff;
}
.card__date {
  color: #226581;
}
.card__button {
  border-radius: 0;
  transition: all 0.2s ease;
  color: #226581;
  background: #fff;
}
.card__button:hover,
.card__button:focus,
.card:hover .card__button,
.card:focus .card__button {
  color: #fff;
  background: #226581;
}
.card__button:active,
.card:active .card__button {
  background: #613b23;
  color: #fff;
}
.tours_nav__wrap {
  background-image: url("/img/card.png");
  background-blend-mode: lighten;
  background-repeat: repeat;
  background-color: #fffafa;
  box-shadow: -0.05rem 0 1rem -0.25rem #26170d;
}
.tours_nav__section_header {
  color: #613b23;
}
.tours_nav__tours-count {
  opacity: 0.5;
}
.tours_nav__link:hover,
.tours_nav__link:focus {
  background: #3485a8;
  color: #fff;
}
.tours_nav__link:active,
.tours_nav__link.active {
  background: #613b23;
  color: #fff;
  box-shadow: 0 0.1rem 0.4rem 0rem #26170d;
}
.tours_nav__link--subtag {
  background-color: #a1cbde;
}
.tours_nav__link--subtag--last {
  box-shadow: inset 0 -0.4rem 0.4rem -0.5rem #26170d;
}
.tours__section_header {
  background: transparent;
}
.tours-tag-info__wrap {
  background-image: url("/img/card.png");
  background-color: #fffff0;
  background-repeat: repeat;
  background-blend-mode: soft-light;
}
.tours-tag-info__wrap {
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
}
.tours__count {
  color: #3485a8;
}
.guide-form__wrap {
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
}
.guide-info__wrap {
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
}
.guide__card {
  border-radius: 0.125rem;
}
.contacts__wrap {
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
  background: #fff;
}
.map__img {
  filter: grayscale(0.25);
}
.testimonial {
  border-radius: 0.125rem;
  box-shadow: 0 0.2rem 1rem -0.25rem #26170d;
  background: #fff;
}
.testimonial__svg__path {
  fill: #a1cbde;
}
.testimonial__footer {
  background: #3485a8;
}
.testimonial__date,
.testimonial__name {
  color: #fff;
}
@-moz-keyframes logo_animate_gray {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1);
  }
}
@-webkit-keyframes logo_animate_gray {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1);
  }
}
@-o-keyframes logo_animate_gray {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1);
  }
}
@keyframes logo_animate_gray {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(1);
  }
}
@-moz-keyframes logo_animate_gray_a {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) scale(1);
  }
}
@-webkit-keyframes logo_animate_gray_a {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) scale(1);
  }
}
@-o-keyframes logo_animate_gray_a {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) scale(1);
  }
}
@keyframes logo_animate_gray_a {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg) scale(1.01);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) scale(1);
  }
}
@-moz-keyframes logo_animate_gray_b {
  0% {
    transform: rotateX(0deg) rotateZ(0deg) rotateX(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg) rotateX(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateZ(360deg) rotateX(360deg) scale(1);
  }
}
@-webkit-keyframes logo_animate_gray_b {
  0% {
    transform: rotateX(0deg) rotateZ(0deg) rotateX(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg) rotateX(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateZ(360deg) rotateX(360deg) scale(1);
  }
}
@-o-keyframes logo_animate_gray_b {
  0% {
    transform: rotateX(0deg) rotateZ(0deg) rotateX(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg) rotateX(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateZ(360deg) rotateX(360deg) scale(1);
  }
}
@keyframes logo_animate_gray_b {
  0% {
    transform: rotateX(0deg) rotateZ(0deg) rotateX(0deg) scale(1);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg) rotateX(180deg) scale(1.01);
  }
  100% {
    transform: rotateX(360deg) rotateZ(360deg) rotateX(360deg) scale(1);
  }
}
@-moz-keyframes logo_animate_blue {
  0% {
    fill: #3485a8;
  }
  33% {
    fill: #226581;
  }
  50% {
    fill: #3485a8;
  }
  67% {
    fill: #3485a8;
  }
  83% {
    fill: #6aa8c3;
  }
  100% {
    fill: #3485a8;
  }
}
@-webkit-keyframes logo_animate_blue {
  0% {
    fill: #3485a8;
  }
  33% {
    fill: #226581;
  }
  50% {
    fill: #3485a8;
  }
  67% {
    fill: #3485a8;
  }
  83% {
    fill: #6aa8c3;
  }
  100% {
    fill: #3485a8;
  }
}
@-o-keyframes logo_animate_blue {
  0% {
    fill: #3485a8;
  }
  33% {
    fill: #226581;
  }
  50% {
    fill: #3485a8;
  }
  67% {
    fill: #3485a8;
  }
  83% {
    fill: #6aa8c3;
  }
  100% {
    fill: #3485a8;
  }
}
@keyframes logo_animate_blue {
  0% {
    fill: #3485a8;
  }
  33% {
    fill: #226581;
  }
  50% {
    fill: #3485a8;
  }
  67% {
    fill: #3485a8;
  }
  83% {
    fill: #6aa8c3;
  }
  100% {
    fill: #3485a8;
  }
}
@-moz-keyframes logo_animate_brown {
  0% {
    fill: #613b23;
  }
  17% {
    fill: #613b23;
  }
  33% {
    fill: #452917;
  }
  50% {
    fill: #613b23;
  }
  67% {
    fill: #794f34;
  }
  100% {
    fill: #613b23;
  }
}
@-webkit-keyframes logo_animate_brown {
  0% {
    fill: #613b23;
  }
  17% {
    fill: #613b23;
  }
  33% {
    fill: #452917;
  }
  50% {
    fill: #613b23;
  }
  67% {
    fill: #794f34;
  }
  100% {
    fill: #613b23;
  }
}
@-o-keyframes logo_animate_brown {
  0% {
    fill: #613b23;
  }
  17% {
    fill: #613b23;
  }
  33% {
    fill: #452917;
  }
  50% {
    fill: #613b23;
  }
  67% {
    fill: #794f34;
  }
  100% {
    fill: #613b23;
  }
}
@keyframes logo_animate_brown {
  0% {
    fill: #613b23;
  }
  17% {
    fill: #613b23;
  }
  33% {
    fill: #452917;
  }
  50% {
    fill: #613b23;
  }
  67% {
    fill: #794f34;
  }
  100% {
    fill: #613b23;
  }
}
.header-form__wrap {
  position: absolute;
  top: 100%;
  right: 0;
  transform: rotateY(90deg);
  transform-origin: 100% 0;
  transition: transform 0.2s ease-out;
  z-index: 1002;
  background: #fff;
  box-shadow: 0 0.25rem 1.25rem -0.25rem #26170d;
  border-radius: 0.125rem;
}
.header-form__wrap.is_open {
  transform: rotateY(0);
}
.call-back-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.call-back-form__input {
  order: 0;
  flex: 0 0 calc(50% - 5.5rem);
  box-shadow: inset 0 0.1rem 0.6rem -0.1rem #26170d;
}
@media (max-width: 620px) {
  .call-back-form__name {
    flex: 1 1 100%;
  }
  .call-back-form__phone {
    flex-grow: 1;
  }
}
.call-back-form__button {
  margin: 0;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  background: #fff;
}
#call-back-form__button {
  order: 2;
  flex: 1 0 100%;
  color: #3485a8;
}
#call-back-form__button:hover,
#call-back-form__button:focus {
  color: #fff;
  background: #3485a8;
}
#call-back-form__button:active {
  color: ;
  background: #613b23;
}
#call-back-form__cancel {
  order: 1;
  flex: 0 0 4rem;
  background: #fff;
  color: #921717;
  border-radius: 0;
  -webkit-appearance: none;
  padding-left: 0.8rem;
  padding-right: 0.7rem;
  martgin-right: 0;
}
#call-back-form__cancel:hover,
#call-back-form__cancel:focus {
  color: #fff;
  background: #a43232;
}
#call-back-form__cancel:active {
  color: #fff;
  background: #921717;
}
.form {
  max-width: 90%;
  width: auto;
  border-radius: 0.125rem;
  margin: 1rem auto 0;
  background: #fff;
  padding: 0 5%;
}
.form__input_group {
  margin: 0 0 0.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 551px) {
  .form__input_group {
    flex-direction: column;
  }
}
.form__label {
  margin: 1.4rem;
  margin-right: 0;
}
.form__input {
  flex-grow: 1;
  margin-left: 1.4rem;
  box-shadow: inset 0 0.1rem 0.6rem -0.1rem #26170d;
  border-radius: 0.125rem;
  background-color: #fff;
}
.form__textarea {
  height: 4rem;
}
.hidden_field {
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.form__button {
  width: 111%;
  margin: 0 -5.5%;
  padding: 1.2rem;
}
.form__button {
  appearance: none;
  background: #fff;
  color: #3485a8;
  border-radius: 0.125rem;
  transition: transform 0.3s ease-out;
}
.form__button:hover,
.form__button:focus {
  animation: form_button_submit 0.3s ease-out forwards;
  background: #3485a8;
  color: #fff;
}
.form__button--success,
.form__button--loading,
.form__button--failure {
  animation: form_button_submit 0.3s ease-out forwards;
}
.form__button--success {
  background: #044904 !important;
}
.form__button--loading {
  background: #dada0b !important;
  color: #000 !important;
}
.form__button--failure {
  background: #610505 !important;
}
@-moz-keyframes form_button_submit {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes form_button_submit {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes form_button_submit {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes form_button_submit {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
